<form class="form form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-2">Banner</label>
		<div class="col-sm-8">
			<div ngf-drop ng-model="genresCtrl.activeGenre.banner" class="ng-file-upload">
				<p class="h3 text-info text-center ng-instruction" ng-hide="genresCtrl.activeGenre.banner">Arrastre el banner aqui</p>
				<img class="ng-background" ngf-src="genresCtrl.activeGenre.banner" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Imagen</label>
		<div class="col-sm-8">
			<div ngf-drop ng-model="genresCtrl.activeGenre.image" class="ng-file-upload">
				<p class="h3 text-info text-center ng-instruction" ng-hide="genresCtrl.activeGenre.image">Arrastre la imagen aqui</p>
				<img class="ng-background" ngf-src="genresCtrl.activeGenre.image" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Icono</label>
		<div class="col-sm-8">
			<div ngf-drop ng-model="genresCtrl.activeGenre.icon" class="ng-file-upload">
				<p class="h3 text-info text-center ng-instruction" ng-hide="genresCtrl.activeGenre.icon">Arrastre el icono aqui</p>
				<img class="ng-background" ngf-src="genresCtrl.activeGenre.icon" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<button type="button" ng-click="genresCtrl.submitFilesForm()" class="btn btn-pimix col-sm-4 col-sm-offset-2">
			<span ng-if="genresCtrl.editing">
				<i class="fa fa-pencil"></i> &nbsp;Editar
			</span>
			<span ng-if="!genresCtrl.editing">
				<i class="fa fa-floppy-o"></i> &nbsp;Guardar
			</span>
		</button>
	</div>
</form>