<div ng-controller="GenreCtrl as genreCtrl">
	<div class="artist-banner" data-ng-show="genreCtrl.genre.banner" style="background-image:url({{genreCtrl.genre.banner.replace('dist/', '')}});">
		<div class="artist-inner">
			<div class="artist-img" data-ng-show="genreCtrl.genre.image">
				<img ng-src="{{genreCtrl.genre.image.replace('dist/', '')}}" class="img-circle img-polaroid" />
			</div>
			<h3>
					{{genreCtrl.genre.name}}
				</h3>
			<h5>
					{{genreCtrl.genre.description}}
				</h5>
			<!--<div class="artist-style">
				<div class="artist-genre" ng-repeat="genre in artistGenre">
					<span>{{genre}}</span>
				</div>
			</div>-->
		</div>
	</div>
	<div class="page page-artist">
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="#!/dashboard/genres" class="btn btn-pimix">
					<i class="fa fa-chevron-left"></i>&nbsp;&nbsp;G&eacute;neros
				</a>
        <button ng-click="playerCtrl.addChannelsToPlaylist(genreCtrl.channels)" class="btn btn-pimix">
        	<i class="fa fa-headphones"></i>&nbsp;&nbsp;Cargar Todo
        </button>
        <button ng-click="playerCtrl.addChannelsToPlaylistInRandomOrder(genreCtrl.channels)" class="btn btn-pimix">
        	<i class="fa fa-random"></i>&nbsp;&nbsp;Cargar Todo Aleatorio
        </button>
				<div style="margin-top:25px" class="row music-covers-listing minified">
					<div ng-repeat="channel in genreCtrl.channels | orderBy:'-lastUpdated'" class="col-md-3">
						<div class="list-item__wrap">
							<div class="play-button">
								<div class="list-item__image">
									<img ng-src="{{channel.image.replace('dist/', '')}}" />
									<div class="list-item__play">
										<a class="list-item__play-button" href ng-click="playerCtrl.addChannelToPlaylist(channel)">
											<i class="fa fa-2x fa-plus">

											</i>
										</a>
									</div>
								</div>
							</div>
							<div class="list-item__name">
								<h6>
									{{channel.name}}
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
