ul.nav.in#sidebar
	li.sidebar-item
		a(href="#{context.url('/admin/categories')}") Categorias
	li.sidebar-item
		a(href="#{context.url('/admin/users')}") Usuarios
	li.sidebar-item
		a(href="#{context.url('/admin/roles')}") Roles