div.container
	h1 Confirmaci&oacute;n de Compra

	h3#datos-de-vuelo-after Resumen del Vuelo
		select.pull-right.selectpicker.picker-currencies#picker-currencies-1
		
	h3#datos-pasajeros-after Datos de los Pasajeros

	
	h3#datos-pago-after Res&uacute;men de Pago

	table.table.table-bordered.table-condensed.pago#pago-table-confirm
		tbody
			tr
				td
					form.form-horizontal
						h3 Datos de la tarjeta
						div.form-group
							label.col-sm-4.control-label
								strong Tipo de Tarjeta
							div.col-sm-5.tipo-tarjeta
							
						div.form-group
							label.col-sm-4.control-label N&uacute;mero de Tarjeta
							div.col-sm-5
								label.nro-tarjeta
							
						div.form-group
							label.col-sm-4.control-label C&oacute;digo de Seguridad
							div.col-sm-5
								label.cod-seg
							
						div.form-group
							label.col-sm-4.control-label Fecha de Vencimiento
							div.col-sm-5
								label.fecha-venc
						div.form-group
							label.col-sm-4.control-label Cuotas
							div.col-sm-5.cuotas
						h3 Datos del Titular de la Tarjeta
						div.form-group
							label.col-sm-4.control-label Nombre/s
							div.col-sm-5
								label.nombre-apellido-titular
							
						div.form-group
							label.col-sm-4.control-label Identificaci&oacute;n
							div.col-sm-5
								label.identificacion
							
						h3 Direcci&oacute;n de pago
						div.form-group
							label.col-sm-4.control-label Ciudad
							div.col-sm-5
								label.ciudad
							
						div.form-group
							label.col-sm-4.control-label Calle
							div.col-sm-5
								label.calle
							
						div.form-group.col-sm-6
							label.col-sm-8.control-label Piso
							div.col-sm-4(style='padding-left:30px')
								label.piso
							
						div.form-group.col-sm-6
							label.col-sm-3.control-label Departamento
							div.col-sm-9
								label.depto
							
						div.form-group.col-sm-6
							label.col-sm-8.control-label C&oacute;digo Postal
							div.col-sm-4(style='padding-left:30px')
								label.cp
							
				
	div
		a.btn.btn-default.prev-step#prev-button-4(href="#") Volver a Pago
		a.btn.btn-success.next-step.pull-right#confirm-purchase(href="#") Confirmar la Compra
