<audio ng-audio>
	<source src="{{channelCtrl.previewUrl}}" type="audio/mpeg" />
</audio>
<div
	ngf-drop="channelCtrl.onDrop($files)"
	ng-model="channelCtrl.droppedSongs"
	ngf-multiple="true"
	ngf-keep="true"
	class="ng-file-upload ng-songs">
	<p class="h3 text-info text-center ng-instruction">Arrastre las canciones aqui</p>
	<div ng-show="channelCtrl.displayedSongs.length">
		<div
			class="ng-track row"
			ng-repeat="song in channelCtrl.displayedSongs">
			<div class="col-sm-1">
				<img class="ng-artwork" ng-src="{{song.picture.base64}}" />
			</div>
			<div class="col-sm-4">
				<b>{{song.title}}</b> 
				<span ng-show="!song.valid" class="text-danger" style="text-transform: uppercase;">REPETIDA</span>
				<span ng-show="song.uploading" class="text-info" style="text-transform: uppercase;">
					<i class="fa fa-fw fa-spin fa-spinner"></i>
					SUBIENDO
				</span>
				<span ng-show="song.uploaded" class="text-success" style="text-transform: uppercase;">
					SUBIDA
				</span>
				<br>
				<i>{{song.publisher}}</i>&nbsp;<span>{{song.artist}} - {{song.album}}</span>
			</div>
			<div class="col-sm-6">
				<div class="player-control">
					<div class="player-control-bottom">
						<div class="controlling-options">
							<div class="btn" ng-click="song.current && song.playing ? channelCtrl.pauseSong(song) : channelCtrl.previewSong(song)">
								<i class="fa" ng-class="{ 'fa-pause': song.current && song.playing, 'fa-play': !(song.current && song.playing) }"></i>
							</div>
						</div>
						<div class="song-duration" ng-if="song.current">
							<span class="song-duration-beg">{{ channelCtrl.preview.formatTime }}</span>
							<div class="progress" ng-click="channelCtrl.seekPreview( channelCtrl.preview.duration * channelCtrl.getProgress($event))">
								<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: channelCtrl.preview.currentTime*100/channelCtrl.preview.duration + '%' }"></div>
							</div>
							<span class="song-duration-end">{{ channelCtrl.preview.formatDuration }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="btn" style="padding: 16px 12px" ng-click="channelCtrl.removeFromSongs(song)">
					<i class="fa fa-2x fa-remove"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- <img class="ng-background" ngf-src="channelCtrl.activeGenre.banner" /> -->
</div>
<button type="button" ng-click="channelCtrl.submitSongs()" class="btn btn-pimix col-sm-6 col-sm-offset-2">
	<span ng-if="channelCtrl.editing">
		<i class="fa fa-cloud-upload"></i> &nbsp;Actualizar y Subir
	</span>
	<span ng-if="!channelCtrl.editing">
		<i class="fa fa-floppy-o"></i> &nbsp;Guardar
	</span>
</button>