@import "compass/css3";
@import "compass/css3/transition";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);

$light-gray: #f6f6f8;
$mid-gray: #e9eaeb;
$dark-gray: #555964;

$app-main-color: #59ABE3;
$app-secondary-color: rgba(30, 30, 30, .8);

html {
	width: 100%;
	height: 100%;

	body {
		width: 100%;
		height: 100%;
		padding-top: 50px;
		font-family: 'Raleway';
		font-size: 15px;
		background-color: #eaeaea;
	}
}

a[ng-click] {
	cursor: pointer;
}

header#top-navbar {
	background-color: $app-secondary-color;
	
	a {
		color: white;
	}

	li a:hover {
		color: #222;
	}

	.dropdown-menu a {
		color: black;
	}

	.open .dropdown-toggle {
		color: black;
	}
}

.with-divider {
	border-bottom: 1px solid $mid-gray;
}

.dropdown-menu.open {
	// position: fixed;
	// top: auto;
}

.bootstrap-select.input-lg > button.btn {
	height: 100%
}

.section {
	width: 100%;
	// height: 100%;
	min-height: 100%;
	// overflow: hidden;
}

#busqueda-simple {
	position: relative;
	padding-top: 6%;
	// background-image: url(../img/bg-airplane-1-1920x1080.jpg)
	// background-color: #0186d0
	// background-size: 100% 100%
	// background-position: center

	background-color: $app-main-color;
	background-image: url('../images/bg.jpeg');
	background-position: 50% 0px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	height: auto;
	min-height: auto;

	.btn {
		border: 1px solid #adadad;
	}

	#tarjetas {
		margin-top: 20px;
	}

	.main-headline {
		color: white;
		font-size: 50px;
	}

	$thumbnail-size: 280px;

	#promociones {
		// position: absolute;
		// bottom: 0;
		// left: 0;
		width: 100%;
		height: $thumbnail-size+50;
		margin: 0;
		margin-top: 150px;
		position: relative;

		.promotion-image-container {
			width: 100%;
			max-height: 160px;
			overflow: hidden;
			height: 160px;
		}

		.carousel-control {
			width: 5%;
			background-image: none;
		}
	}
}

#busqueda-compleja {

	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #222;
	color: white;
	

	.category-heading {
		margin-bottom: 60px;
		font-size: 42px;
	}

	.category-link-container {

		text-align: center;
		font-size: 24px;
		line-height: 3em;

		.category-link {
			color: #aaa;
			text-transform: uppercase;
		}
	}
}

#navbar-content {
	text-align: center;

	.navbar-nav {
		display: inline-block;
		float: none;
	}
}

@mixin border-radius($property) {
	border-radius: $property;
	-o-border-radius: $property;
	-moz-border-radius: $property;
	-webkit-border-radius: $property;
}

@mixin bg-black() {
	background-color: black;
}

@mixin bg-white() {
	background-color: white;
}

@mixin white() {
	color: white;
}

@mixin text-left() {
	text-align: left;
}

@mixin text-center() {
	text-align: center;
}

@mixin text-right() {
	text-align: right;
}

@mixin big() {
	font-size: 24px;
}

#favourite-dropdown {

	.dropdown-favourite {
		min-width: 250px;
		font-size: 12px;

		.fav-title {
			padding:3px 10px;
			display: block;
			font-size: 13px;
			font-weight: 700;
		}

		li .item {
			display:block;
			padding:3px 10px;
			margin: 3px 0;

			&:hover {
				background-color:#f3f3f3;
			}

			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}

			.item-left {
				float: left;

				img, span.item-info {
					float: left
				}

				img {
					width: 40px;
					height: 40px;
				}

				span.item-info {
					margin-left: 10px;
					// white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 150px;

					span {
						display: block;
						
					}

					span.price {
						color: #900
					}
				}
			}

			.item-right {
				float: right;

				button {
					margin-top: 14px;
				}
			}
		}

	}


}


footer {
	background-color: $app-main-color;

	a {
		font-size: 14px;
		color: black;

		&:hover {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}

	i {
		margin-left: 5px;
	}
}

	.store-item {

		padding: 0;

		.product-container {
			
			height: 320px;
			padding: 10px;
			border: 1px solid #dfdfdf;
			// margin: 5px;
			// border-top: 
			// border-top: 1px solid #dfdfdf;
			// @include border-radius(7px);
			
			&:hover {
				background-color: #fafafa;
				border-width: 2px;
			}

			.image-container {
				width: 100%;
				height: auto;
				height: 200px;
				max-height: 200px;
				overflow: hidden;
			}

			.product-title {
				height: 24px;
				line-height: 24px;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-top: 4px;
			}

			.product-description {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 12px;
				color: #454545;
				margin: 0;
				padding-top: 4px;
			}

			.product-price {
				color: #900;
				font-size: 18px;
				font-weight: 500;
				line-height: 2em;
			}

			.product-owner {
				color: #222;
				font-size: 13px;
			}
		}
	}

.rating {

	&.worst {
		.rate-select-layer {
			color: #991619
		}
	}

	&.bad {
		.rate-select-layer {
			color: #E16E01
		}	
	}

	&.ok {
		.rate-select-layer {
			color: #8DB75F
		}	
	}

	&.good {
		.rate-select-layer {
			color: #67A22A
		}	
	}

	&.great {
		.rate-select-layer {
			color: #016900
		}
	}
	
}

[star-rating] {

	.star-rating {
		margin: 0;
		padding: 0;
		display: inline-block;
		
		.star {
			padding: 1px;
			color: #ddd;
			font-size: 20px;
			text-shadow: .05em .05em #aaa;
			list-style-type: none;
			display: inline-block;
			cursor: pointer;

			&.filled {
				color: #fd0;
			}
		}

		// &.readonly .star.filled {
		// 	color: #666;
		// }
	}

	&.worst .star.filled {
		color: #991619;
	}

	&.bad .star.filled {
		color: #E16E01;	
	}

	&.ok .star.filled {
		color: #8DB75F;	
	}

	&.good .star.filled {
		color: #67A22A;	
	}

	&.great .star.filled {
		color: #016900;
	}
}

.backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1050;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	display: none;

	@include transition-property(opacity);
	@inclide transition-duration(.1s);
	@include transition-timing-function(ease-in);

	&.show {
		opacity: 1;
		display: block;
	}

	@-moz-keyframes spinner-loader {
	  0% {
	    -moz-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -moz-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes spinner-loader {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@keyframes spinner-loader {
	  0% {
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	/* :not(:required) hides this rule from IE9 and below */
	.spinner-loader:not(:required) {
	  -moz-animation: spinner-loader 1500ms infinite linear;
	  -webkit-animation: spinner-loader 1500ms infinite linear;
	  animation: spinner-loader 1500ms infinite linear;
	  -moz-border-radius: 0.5em;
	  -webkit-border-radius: 0.5em;
	  border-radius: 0.5em;
	  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	  display: block;
	  font-size: 20px;
	  width: 1em;
	  height: 1em;
	  margin: 1.5em;
	  overflow: hidden;
	  text-indent: 100%;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 800;
	  background-color: #eee;
	}
}