<div class="divider"></div>
<div ng-controller="NewSetsCtrl as newSets">
	<div class="row music-covers-listing minified">
		<div ng-repeat="set in newSets.sets | limitTo:-8 | orderBy:'-created'" class="col-md-3">
			<div class="list-item__wrap">
				<div class="play-button">
					<div class="list-item__image">
						<img ng-src="{{set.image.replace('dist/', '')}}" />
						<div class="list-item__play">
							<a class="list-item__play-button" href ng-click="playerCtrl.addTrackToPlaylist(set)">
								<i class="fa fa-2x fa-plus">

								</i>
							</a>
						</div>
					</div>
				</div>
				<div class="list-item__name">
					<h6>
						{{set.name}}
					</h6>
				</div>
			</div>
		</div
</div>