extends layout

block content
	+navbar(true)
	div.container
		div.col-sm-12.text-center
			h1 404 - #{messageSource.getMessage('404.headline', [], locale)}
			a.btn.btn-primary.btn-lg(href="#{context.url('/')}")
				i.fa.fa-home
				span &nbsp;#{messageSource.getMessage('404.home', [], locale)}
	