extends layout

block content
	h1 #{hola}
	+navbar(true)
	div.container
		div.col-sm-12.text-center
			h1 Ups, we may have done something wrong
			a.btn.btn-primary.btn-lg(href="#{context.url('/')}") Ir al inicio
	