extends layout


block scripts

block styles


block content
	+navbar(false)
	div.container-fluid
		div.row
			div.col-sm-3
				ul.nav.in
					li
						a(href="#") fsads
					li
						a(href="#") fsadssa
			div.col-sm-9
				h1 Dashboard
				