extends layout

block content
	div.container
		div.col-sm-12
			if success
				h1.text-center.page-header Creacion Exitosa
				p Esta ventana se cerrara automaticamente
			else
				h1.page-header Crear Categoria
				form.form-horizontal(action="#{context.url('/admin/categories/create')}", method="POST")
					input(type="hidden", name="parent", value="#{category.parent}")
					div.form-group(class="#{result.hasFieldErrors('name')?'has-error':''}")
						label.col-sm-2.control-label(for="name") Nombre
						div.col-sm-10
							input.form-control#name(name="name", placeholder="Nombre", value="#{category.name&&!category.name.trim().equals('-')?category.name:''}")
							+errors(result, 'name')
					div.form-group
						div.col-sm-4.col-sm-offset-8
							button.btn.btn-success.btn-block(type="submit") Crear