extends layout

block styles
	

block scripts
	


block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1#item-container
				div.row#product-title
					div.col-sm-12
						h1 #{user.username}
				div.row#product-container
						