noscript
	div(style="position:absolute;top:0;height:100%;width:100%;z-index:1199;background-color:black;opacity:0.5")
	div(style="position:absolute;width:600px;top: 20%;margin-left:auto;margin-right:auto;left:0;right:0;background-color:white;z-index:1200;padding:20px;text-align:justify")
		p.text-warning Javascript Deshabilitado
		p.lead Este sitio fue dise&ntilde;ado para funcionar con Javascript. Habilitelo para aprovechar todas sus ventajas. 