.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: white; }

.tab-pane-content {
  position: relative; }

h1 {
  border-bottom: 1px solid #ddd; }
  h1.page-header {
    margin-top: 0; }

.tabs-left {
  border-bottom: none;
  padding-top: 2px;
  border-right: 1px solid #ddd; }
  .tabs-left > li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px; }
    .tabs-left > li > a {
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      display: block; }
    .tabs-left > li.active > a,
    .tabs-left > li.active > a:hover,
    .tabs-left > li.active > a:focus {
      border-bottom-color: #ddd;
      border-right-color: transparent; }

#edit-container {
  background-color: white;
  -webkit-box-shadow: 2px 1px 1px #ccc;
  -moz-box-shadow: 2px 1px 1px #ccc;
  box-shadow: 2px 1px 1px #ccc;
  padding-top: 30px;
  min-height: 90%; }

#myTab li.separator {
  height: 40px; }

#myTab > li.static > a:hover {
  border-color: #204d74; }

#myTab > li.static > a:hover, #myTab > li.static > a:focus {
  text-decoration: none;
  background-color: #286090; }

#category-browser {
  max-height: 330px;
  max-width: 100%;
  overflow-x: scroll;
  position: relative;
  font-size: 12px; }
  #category-browser > div {
    width: 100%; }
  #category-browser #success-card {
    width: 200px;
    padding: 10px;
    padding-top: 50px;
    height: 150px; }
  #category-browser .category-card {
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #f5f5f5;
    float: left;
    width: auto;
    display: none; }
    #category-browser .category-card.visible {
      display: block; }
    #category-browser .category-card li {
      padding-left: 5px;
      padding-right: 15px; }
      #category-browser .category-card li:hover {
        background-color: #f3f3f3; }
      #category-browser .category-card li.active {
        background-color: #f5f5f5; }
