#item-container {
  background-color: white;
  -webkit-box-shadow: 2px 1px 1px #ccc;
  -moz-box-shadow: 2px 1px 1px #ccc;
  box-shadow: 2px 1px 1px #ccc; }

#product-title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #222; }

#product-container {
  padding-top: 50px; }

.price {
  color: #900; }

.comment {
  border-top: #ddd solid 1px;
  padding: 5px;
  padding-top: 10px; }
  .comment .user-score {
    font-size: 32px;
    display: block; }

.add-favourite:hover, .add-favourite:focus {
  color: inherit; }
