#product-container {
  margin-top: 50px; }

.price {
  color: #900; }

.comment {
  border-top: #ddd solid 1px;
  padding: 5px;
  padding-top: 10px; }
  .comment .user-score {
    font-size: 32px;
    display: block; }
