@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);
html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    font-family: 'Raleway';
    font-size: 15px;
    background-color: #fafafa; }

header#top-navbar {
  background-color: rgba(255, 255, 255, 0.8); }

.with-divider {
  border-bottom: 1px solid #e9eaeb; }

.bootstrap-select.input-lg > button.btn {
  height: 100%; }

.section {
  width: 100%;
  min-height: 100%; }

#busqueda-simple {
  position: relative;
  padding-top: 6%;
  background-color: #59ABE3;
  height: auto;
  min-height: auto; }
  #busqueda-simple .btn {
    border: 1px solid #adadad; }
  #busqueda-simple #tarjetas {
    margin-top: 20px; }
  #busqueda-simple #promociones {
    width: 100%;
    height: 230px;
    margin: 0;
    margin-top: 50px;
    position: relative; }
    #busqueda-simple #promociones #loading-promociones {
      width: 100%;
      text-align: center; }
    #busqueda-simple #promociones .thumbnail {
      width: 220px;
      height: 220px;
      position: relative; }
      #busqueda-simple #promociones .thumbnail img {
        position: absolute;
        width: 210px;
        height: 210px; }
      #busqueda-simple #promociones .thumbnail span {
        position: absolute;
        text-align: center;
        width: 220px;
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px #222;
        left: 0; }
        #busqueda-simple #promociones .thumbnail span.promotion-city {
          font-size: 24px;
          top: 20px; }
        #busqueda-simple #promociones .thumbnail span.promotion-price {
          font-size: 32px;
          line-height: 220px;
          color: #59ABE3; }
          #busqueda-simple #promociones .thumbnail span.promotion-price .promotion-currency {
            font-size: 16px; }
    #busqueda-simple #promociones .carousel-control {
      width: 5%;
      background-image: none; }

#busqueda-compleja {
  padding-top: 20px;
  padding-bottom: 50px; }
  #busqueda-compleja .category-heading {
    margin-bottom: 60px; }

#navbar-content {
  text-align: center; }
  #navbar-content .navbar-nav {
    display: inline-block;
    float: none; }

#favourite-dropdown .dropdown-favourite {
  min-width: 250px;
  font-size: 12px; }
  #favourite-dropdown .dropdown-favourite .fav-title {
    padding: 3px 10px;
    display: block;
    font-size: 13px;
    font-weight: 700; }
  #favourite-dropdown .dropdown-favourite li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0; }
    #favourite-dropdown .dropdown-favourite li .item:hover {
      background-color: #f3f3f3; }
    #favourite-dropdown .dropdown-favourite li .item:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    #favourite-dropdown .dropdown-favourite li .item .item-left {
      float: left; }
      #favourite-dropdown .dropdown-favourite li .item .item-left img, #favourite-dropdown .dropdown-favourite li .item .item-left span.item-info {
        float: left; }
      #favourite-dropdown .dropdown-favourite li .item .item-left img {
        width: 40px;
        height: 40px; }
      #favourite-dropdown .dropdown-favourite li .item .item-left span.item-info {
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px; }
        #favourite-dropdown .dropdown-favourite li .item .item-left span.item-info span {
          display: block; }
        #favourite-dropdown .dropdown-favourite li .item .item-left span.item-info span.price {
          color: #900; }
    #favourite-dropdown .dropdown-favourite li .item .item-right {
      float: right; }
      #favourite-dropdown .dropdown-favourite li .item .item-right button {
        margin-top: 14px; }

footer {
  background-color: #59ABE3; }
  footer a {
    font-size: 14px;
    color: black; }
    footer a:hover {
      color: black;
      text-decoration: none;
      cursor: pointer; }
  footer i {
    margin-left: 5px; }
