.tab-pane-content {
	position: relative;
}

#profile-container {
	margin-top: 30px;
}

h1 {
	border-bottom: 1px solid #ddd;
	
	&.page-header {
		margin-top: 0;
	}
}

.tabs-left {
  border-bottom: none;
  padding-top: 2px;
  border-right: 1px solid #ddd;

  > li {
  	float: none;
	  margin-bottom: 2px;
	  margin-right: -1px;

	  > a {
	  	border-radius: 4px 0 0 4px;
		  margin-right: 0;
		  display:block;
	  }

	  &.active > a,
	  &.active > a:hover,
	  &.active > a:focus {
	  	border-bottom-color: #ddd;
		  border-right-color: transparent;
	  }
  }
}
