@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin border-radius($property) {
	border-radius: $property;
	-o-border-radius: $property;
	-moz-border-radius: $property;
	-webkit-border-radius: $property;
}

.dropzone {
	border: 2px dashed #0087F7;
	@include border-radius(5px);
	background: white;
}

#sell-container {
	background-color: white;
	@include box-shadow(2px, 1px, 1px, #ccc);
	min-height: 90%;
}

#category-browser {
	max-height: 330px;
	max-width: 100%;
	overflow-x: scroll;
	position: relative;
	font-size: 12px;
	
	> div {
		width: 100%;
	}

	#success-card {
		width: 200px;
		padding: 10px;
		padding-top: 50px;
		height: 150px;
	}

	.category-card {
		@include border-radius(5px);
		border: 1px solid #f5f5f5;
		float: left;
		width: auto;
		display: none;
		
		&.visible {
			display: block;
		}

		ul.list-unstyled {

			margin-bottom: 0;

			li {

				padding: {
					left: 5px;
					right: 15px;
				}

				&:hover {
					background-color: #f3f3f3;
				}

				&.active {
					background-color: #f5f5f5;
				}
			}
		}
	}
}

