@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);

$light-gray: #f6f6f8;
$mid-gray: #e9eaeb;
$dark-gray: #555964;

$app-main-color: #59ABE3;
$app-secondary-color: rgba(255, 255, 255, .8);

html {
	width: 100%;
	height: 100%;

	body {
		width: 100%;
		height: 100%;
		padding-top: 50px;
		font-family: 'Raleway';
		font-size: 15px;
		background-color: #fafafa;
	}
}

header#top-navbar {
	background-color: $app-secondary-color;
}

.with-divider {
	border-bottom: 1px solid $mid-gray;
}

.dropdown-menu.open {
	// position: fixed;
	// top: auto;
}

.bootstrap-select.input-lg > button.btn {
	height: 100%
}

.section {
	width: 100%;
	// height: 100%;
	min-height: 100%;
	// overflow: hidden;
}

#busqueda-simple {
	position: relative;
	padding-top: 6%;
	// background-image: url(../img/bg-airplane-1-1920x1080.jpg)
	// background-color: #0186d0
	// background-size: 100% 100%
	// background-position: center

	background-color: $app-main-color;

	height: auto;
	min-height: auto;

	.btn {
		border: 1px solid #adadad;
	}

	#tarjetas {
		margin-top: 20px;
	}

	$thumbnail-size: 250px;

	#promociones {
		// position: absolute;
		// bottom: 0;
		// left: 0;
		width: 100%;
		height: $thumbnail-size+10;
		margin: 0;
		margin-top: 50px;
		position: relative;

		.promotion-image-container {
			width: 100%;
			height: auto;
			max-height: 160px;
			overflow: hidden;
		}

		.carousel-control {
			width: 5%;
			background-image: none;
		}
	}
}

#busqueda-compleja {

	padding-top: 20px;
	padding-bottom: 50px;
	

	.category-heading {
		margin-bottom: 60px
	}
}

#navbar-content {
	text-align: center;

	.navbar-nav {
		display: inline-block;
		float: none;
	}
}

@mixin border-radius($property) {
	border-radius: $property;
	-o-border-radius: $property;
	-moz-border-radius: $property;
	-webkit-border-radius: $property;
}

@mixin bg-black() {
	background-color: black;
}

@mixin bg-white() {
	background-color: white;
}

@mixin white() {
	color: white;
}

@mixin text-left() {
	text-align: left;
}

@mixin text-center() {
	text-align: center;
}

@mixin text-right() {
	text-align: right;
}

@mixin big() {
	font-size: 24px;
}

#favourite-dropdown {

	.dropdown-favourite {
		min-width: 250px;
		font-size: 12px;

		.fav-title {
			padding:3px 10px;
			display: block;
			font-size: 13px;
			font-weight: 700;
		}

		li .item {
			display:block;
			padding:3px 10px;
			margin: 3px 0;

			&:hover {
				background-color:#f3f3f3;
			}

			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}

			.item-left {
				float: left;

				img, span.item-info {
					float: left
				}

				img {
					width: 40px;
					height: 40px;
				}

				span.item-info {
					margin-left: 10px;
					// white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 150px;

					span {
						display: block;
						
					}

					span.price {
						color: #900
					}
				}
			}

			.item-right {
				float: right;

				button {
					margin-top: 14px;
				}
			}
		}

	}


}


footer {
	background-color: $app-main-color;

	a {
		font-size: 14px;
		color: black;

		&:hover {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}

	i {
		margin-left: 5px;
	}
}