<aside data-ng-include=" 'views/components/navigation.html' " id="nav-container"></aside>

<div class="view-container">

	<section data-ng-include=" 'views/components/header.html' " id="header" class="top-header"></section>

	<div ng-if="dashboard.isApp">
		<div ng-controller="ActivityCtrl"></div>
		<div ng-controller="GenresCtrl"></div>
		<div ng-controller="HomeGenresCtrl"></div>
		<div ng-controller="MediaPlayerCtrl"></div>
		<div ng-controller="NotFoundCtrl"></div>
		<div ng-controller="ChannelsCtrl"></div>
		<div ng-controller="ForbiddenCtrl"></div>
		<div ng-controller="HistoryCtrl"></div>
		<div ng-controller="IndexCtrl"></div>
		<div ng-controller="NewChannelsCtrl"></div>
		<div ng-controller="SidebarCtrl"></div>
		<div ng-controller="ClientsCtrl"></div>
		<div ng-controller="GenreCtrl"></div>
		<div ng-controller="HomeCtrl"></div>
		<div ng-controller="LoginCtrl"></div>
		<div ng-controller="ScheduleCtrl"></div>
	</div>
	
	<div id="content">
		<div ng-if="!dashboard.isApp && offline" style="padding: 50px">
			<h1><i class="fa fa-plug"></i> No hay conexión a internet</h1>
		</div>
		<div ng-if="dashboard.isApp || !offline">
			<div ng-if="dashboard.$location.path() === '/dashboard' || dashboard.$location.path() === '/dashboard/home'">
				<div ng-include="'views/dashboard/home/HomeCtrl.html'"></div>
			</div>
			<div ng-if="dashboard.$location.path() === '/dashboard/activity'">
				<div ng-include="'views/dashboard/activity/ActivityCtrl.html'"></div>
			</div>
			<div ng-if="dashboard.$location.path() === '/dashboard/genres'">
				<div ng-include="'views/dashboard/genres/Genres.html'"></div>
			</div>
			<div ng-if="dashboard.$location.path() === '/dashboard/channels'">
				<div ng-include="'views/dashboard/channels/Channels.html'"></div>
			</div>
			<div ng-if="dashboard.$location.path().slice(0, '/dashboard/genre/'.length) === '/dashboard/genre/'">
				<div ng-include="'views/dashboard/genres/Genre.html'"></div>
			</div>
			<div ng-if="dashboard.$location.path() === '/dashboard/clients'">
				<div ng-include="'views/dashboard/clients/ClientsCtrl.html'"></div>
			</div>
			<div ng-if="dashboard.$location.path() === '/dashboard/schedule'">
				<div ng-include="'views/dashboard/schedule/ScheduleCtrl.html'"></div>
			</div>
		</div>
	</div>
</div>

<div ng-include=" 'views/components/player.html' "></div>