@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);

$light-gray: #f6f6f8;
$mid-gray: #e9eaeb;
$dark-gray: #555964;

$yellow: #59ABE3;

html {
	width: 100%;
	height: 100%;

	body {
		width: 100%;
		height: 100%;
		padding-top: 50px;
		font-family: 'Raleway';
		font-size: 15px;
		background-color: #fafafa;
	}
}

header#top-navbar {
	background-color: $yellow;
}

.with-divider {
	border-bottom: 1px solid $mid-gray;
}

.dropdown-menu.open {
	// position: fixed;
	// top: auto;
}

.bootstrap-select.input-lg > button.btn {
	height: 100%
}

.section {
	width: 100%;
	// height: 100%;
	min-height: 100%;
	// overflow: hidden;
}

#busqueda-simple {
	position: relative;
	padding-top: 6%;
	// background-image: url(../img/bg-airplane-1-1920x1080.jpg)
	// background-color: #0186d0
	// background-size: 100% 100%
	// background-position: center

	background-color: $yellow;

	height: auto;
	min-height: auto;

	.btn {
		border: 1px solid #adadad;
	}

	#tarjetas {
		margin-top: 20px;
	}

	$thumbnail-size: 150px;

	#promociones {
		// position: absolute;
		// bottom: 0;
		// left: 0;
		width: 100%;
		height: $thumbnail-size+10;
		margin: 0;
		margin-top: 50px;
		position: relative;

		#loading-promociones {
			// position: absolute;
			width: 100%;
			text-align: center;
		}

		.thumbnail {
			width: $thumbnail-size;
			height: $thumbnail-size;
			position: relative;

			img {
				position: absolute;
				width: $thumbnail-size - 10;
				height: $thumbnail-size - 10;
			}

			span {
				position: absolute;
				text-align: center;
				width: $thumbnail-size;
				color: white;
				text-decoration: none;
				text-shadow: 2px 2px #222;
				left: 0;

				&.promotion-city {
					font-size: 24px;
					top: 20px;
				}



				&.promotion-price {
					font-size: 32px;
					line-height: $thumbnail-size;
					color: $yellow;

					.promotion-currency {
						font-size: 16px;
					}
				}
			}

		}

		.carousel-control {
			width: 5%;
			background-image: none;
		}
	}
}

#busqueda-compleja {

	padding-top: 20px;
	padding-bottom: 50px;
	

	@each $tipo in ida, idayvuelta, multiples, mundo {

		#form-#{$tipo} {
			margin-top: 80px;

			.control-label {
				font-size: 18px;
			}

			.pasajeros {

				p {
					font-size: 16px;
					margin: {
						bottom: 0;
						top: 15px;
					}
					// font-weight: 700;
				}

				.plus {
					display: block;
				}

				input.form-control {
					width: 30%;
				}
			}

			.form-group.hidden {
				display: none;
			}

			.mas-opciones {

				color: #222;
				text-decoration: none;
				margin: {
					top: 5px;
					bottom: 5px;
				}

				&:hover {
					font-weight: 700;
				}

			}
		}
	}
}

#navbar-content {
	text-align: center;

	.navbar-nav {
		display: inline-block;
		float: none;
	}
}

@mixin border-radius($property) {
	border-radius: $property;
	-o-border-radius: $property;
	-moz-border-radius: $property;
	-webkit-border-radius: $property;
}

@mixin bg-black() {
	background-color: black;
}

@mixin bg-white() {
	background-color: white;
}

@mixin white() {
	color: white;
}

@mixin text-left() {
	text-align: left;
}

@mixin text-center() {
	text-align: center;
}

@mixin text-right() {
	text-align: right;
}

@mixin big() {
	font-size: 24px;
}

// Busqueda de Vuelo

#resumen-de-vuelo {
	background-color: $dark-gray;
	border: 1px solid $mid-gray;
	border-bottom: 5px solid $mid-gray;
	color: white;
	margin: {
		left: 10px;
		right: 10px;
		top: 5px;
	};
	padding: 10px;
	z-index: 1010;

	&.scrolled {
		position: fixed;
		z-index: 1020;
	}

	.searcher {
		font-size: 18px;
		position: relative;

		#flip {
			color: white;
			text-decoration: none;
			position: absolute;
			top: 30%;
			left: 100%;

			&:hover {
				color: #222;
				text-decoration: none;
			}
		}
	}

	.btn-cool {
		background-color: $dark-gray;
		border-color: $dark-gray/2;
		color: white;

		&:hover {
			background-color: $dark-gray/2;
			border-color: $dark-gray/4;
			color: white;
		}

		&:active {
			background-color: $dark-gray*1.5;
			border-color: $dark-gray/6;
			color: white;
		}

		&:focus {
			background-color: $dark-gray/2;
			border-color: $dark-gray/3;
			color: white;
		}
	}

	#n-passengers {
		@extend .btn-cool;
	}

	.bootstrap-datetimepicker-widget {
		color: #222
	}

	.btn-group.bootstrap-select {

		width: 100%;

		> button {

			@extend .btn-cool;
			
			margin-bottom: 4px;
			font-size: 18px;
			width: 100%;

			
		}
		
	}

	.btn-group.bootstrap-select.cabin {
		width: auto;
		margin-top: 4px;

		> button {
			font-size: 14px;
		}
	}

}

#spinner {
	margin-top: 50px;
}

.sorting {
	padding: 10px;
	margin: 10px;
	border: 1px solid $mid-gray;
	border-bottom: 5px solid $mid-gray;
	background-color: white;

	span.result {
		font-size: 24px;
	}


	.bootstrap-select.btn-group {
		font-family:'FontAwesome', Arial;

		> .dropdown-menu {
			width: auto;
			min-width: 100%;
			left: 0;
			position: absolute;

			&.open {
				width: auto;
				min-width: 100%;
				left: 0;
				top: 100%;


			}
		}
	}
	

	select {
		font-family:'FontAwesome', Arial;
		option: {
			font-family:'FontAwesome', Arial;
		}
	}
}

.vuelo {
	padding: 10px;
	margin: 10px;
	// @include border-radius(5px);
	border: 1px solid $mid-gray;
	border-bottom: 5px solid $mid-gray;
	background-color: white;

	.col-sm-5 {
		padding: 0;
		width: 39%;
	}
	
	@each $tipo in ida, vuelta {

		.#{$tipo} {
			padding: 3px;

			.vuelo-header {
				border-bottom: 2px solid #f8f7f6;

				.fecha {

				}
			}

			.vuelo-content {
				margin-top: 10px;
					
				.graphic {
					min-height: 90px;

					.horario-container {
						padding: 0;
						height: 30px;
						background-color: $light-gray;
						.horario-salida, .horario-llegada {
							background-color: $light-gray;
							line-height: 30px;
						}
					}

					.origen-container, .escala-container, .destino-container {
						background-color: $mid-gray;
						color: #333;
						position: relative;
						display: inline-block;
						height: 60px;
					}

					.origen-container {
						text-align: left;
						font-size: 14px;
						padding-right: 0;
					}

					.escala-container {
						text-align: center;
						color: white;
						background-color: $dark-gray;
					}

					.destino-container {
						text-align: right;
						font-size: 14px;
						padding-left: 5px;
					}

					.origen, .destino, .horas, .escalas {
						line-height: 30px;
					}

					.origen, .destino {
						line-height: 20px
					}

					.origen-container, .escala-container {
						&:after {
							content: " ";
							width: 0;
							height: 0;
							border-top: 30px solid transparent;
							border-bottom: 30px solid transparent;
							border-left: solid 15px $dark-gray;
							position: absolute;
							top: 0;
							border-left-color: #e9eaeb;
							left: 100%;
							z-index: 2;
						}

						&.escala-container:after {
							border-left-color: $dark-gray;
						}
					}
				}

				.review-score-container {
					margin-top: 5px;
					line-height: 40px;
					font-size: 17px;
					.review-score {
						display: inline-block;
						// padding: 10px;
						cursor: pointer;
						width: 85px;
						height: 40px;
						text-align: center;
						font-size: 32px;
						position: relative;

						i {
							position: absolute;
							left: 13px;
							top: 7px;
						}

						div {
							position: absolute;
							left: 45px;
							top: 0px;
						}

						&.good {
							background-color: #5cb85c;
							color: #398439;
						}
						&.ok {
							background-color: #f0ad4e;
							color: #d58512;
						}

						&.bad {
							background-color: #d9534f;
							color: #ac2925

						}

						&.sd {
							background-color: #dadada;
						}
					}
				}
			}

			
		}
	}

	.precios {
		font-size: 18px;
		width: 22%;

		@for $i from 1 to 13 {
			.col-sm-#{$i} {
				padding: 0;

				b {
					line-height: 1em;
					font-size: 11px;
				}

				.currency-symbol {
					font-size: 12px;
				}
			}
		}
	}

	.vuelo-footer {
		border-top: 1px solid $light-gray;
	}
}

#review-table {
	font-size: 16px;

	label, p {
		font-size: 13px;
	}
}

#flight-container .precios {
		font-size: 18px;

		@for $i from 1 to 13 {
			.col-sm-#{$i} {
				padding: 0;

				b {
					line-height: 1em;
					font-size: 11px;
				}

				.currency-symbol {
					font-size: 12px;
				}
			}
		}
	}

#review-flight {

	.rate-base-layer {
		color: #eee;
	}

	.friendliness {
		cursor: pointer;


		.rate-hover-layer {
			color: #ffc0cb;
		}

		.rate-select-layer {
			color: red;
		}

	}

	.mileage_program {
		cursor: pointer;
		.rate-hover-layer {
			color: yellow;
		}

		.rate-select-layer {
			color: orange;
		}
	}

	.quality_price {
		cursor: pointer;
		.rate-hover-layer {
			color: green*2;
		}

		.rate-select-layer {
			color: green;
		}
	}

	.food {
		cursor: pointer;
		.rate-hover-layer {
			color: #222 * 4;
		}

		.rate-select-layer {
			color: #222 * 2;
		}
	}

	.punctuality {
		cursor: pointer;
		.rate-hover-layer {
			color: #1D62F0 * 2;
		}

		.rate-select-layer {
			color: #1D62F0;
		}
	}

	.comfort {
		cursor: pointer;
		.rate-hover-layer {
			color: #A84410 * 2;
		}

		.rate-select-layer {
			color: #A84410;
		}
	}

	.rating {
		.fa-fw {
			// width: 1em;
		}
	}

	@each $kind in friendliness, yes_recommend {
		.#{$kind} {
			// height: 75px;

			td {
				i.fa {
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
	}

}

.helvetica {
	font-family: 'Helvetica', 'Arial';
}

$filters-border-radius: 5px;

#filters {
	position: fixed;
	top: 125px;
	left: 0;
	color: $light-gray;
	background-color: #222631;
	z-index: 1033;
	display: table;
	table-layout: fixed;

	-webkit-border-top-right-radius: $filters-border-radius;
	-webkit-border-bottom-right-radius: $filters-border-radius;
	-moz-border-radius-topright: $filters-border-radius;
	-moz-border-radius-bottomright: $filters-border-radius;
	border-top-right-radius: $filters-border-radius;
	border-bottom-right-radius: $filters-border-radius;

	.filter-header {
		padding: 2px;
		display: table-cell;
		cursor: pointer;
		position: relative;
		vertical-align: middle;
		text-align: center;

		&:hover {
			color: #EFCB45;
		}
	}

	.filter-content {
		background-color: #2b303d;
		display: inline-block;
		max-width: 300px;

		@each $filter in escalas, aerolinea, precio, clase, horario-salida, horario-llegada, duration {

			.filter-#{$filter} {
				padding: {
					top: 5px;
					bottom: 5px;
				}
				text-align: center;

				h5 {
					margin: 0
				}

				.filter {
					padding: {
						top: 10px;
						bottom: 10px;
						right: 0px;
						left: 0px;
					};
					background-color: $light-gray;
					color: #222;

					> b {
						font-size: 13px;

						.currency-symbol {
							font-size: 9px;
						}

						&.left {
							margin-right: 5px;
						}

						&.right {
							margin-left: 8px;
						}
					}

					.slider.slider-horizontal {
						max-width: 130px;
					}

					@for $i from 1 to 12 {
						> .col-sm-#{$i} {
							padding: 0;

							b {
								font-size: 13px;
							}
						}
					}
				}
			}
		}

		.filter-aerolinea {

			.filter {
				padding-left: 7px;
				text-align: left;
				font-size: 13px;
			}
		}

		.filter-precio, .filter-duration {
			.slider-selection {
				background: #89cdef;
			}
		}
	}
}

.or-spacer {
	margin-top: 35px;
	width: 100%;
	position: relative;

	.mask {
		overflow:hidden;
		height:20px;

		&:after {
			content:'';
			display:block;
			margin:-25px auto 0;
			width:100%;
			height:25px;
			border-radius:125px / 12px;
			box-shadow:0 0 8px black;
		}
	}
	span {
		$size:50px;
		width:$size;
		height:$size;
		position:absolute;
		bottom:100%;
		margin-bottom:-$size/2;
		left:50%;
		margin-left:-$size/2;
		border-radius:100%;
		box-shadow:0 2px 4px #999;
		background:white;
	}
	span i {
		$offset:4px;
		position:absolute;
		top:$offset; bottom:$offset;
		left:$offset; right:$offset;
		border-radius:100%;
		border:1px dashed #aaa;

		text-align:center;
		line-height:40px;
		font-style:normal;
		color:#999;
	}
}

footer {
	background-color: $yellow;

	a {
		font-size: 14px;
		color: black;

		&:hover {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}

	i {
		margin-left: 5px;
	}
}