
<header id="top-navbar" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse" data-target="#main-navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#!/" style="font-size:2em" class="navbar-brand"><i class="fa fa-shopping-basket"></i>&nbsp;SIGLAS</a>
    </div>
    <nav id="navbar-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedUser"><a ng-href="#!/auth/register?next={{index.$location.path()}}">{{ 'index.register' | translate }}</a></li>
        <li ng-if="!loggedUser"><a ng-href="#!/auth/login?next={{index.$location.path()}}">{{ 'index.login' | translate }}</a></li>
        <li><a ng-href="{{loggedUser ? '#!/store/sell/details?next=' + index.$location.path() : '#!/auth/register?next=/store/sell/details'}}">{{ 'index.sell' | translate }}</a></li>
        <li id="favourite-dropdown" ng-if="loggedUser"><a href="#" data-toggle="dropdown" title="{{ 'index.favourite.title' | translate }}" class="dropdown-toggle"><i class="fa fa-heart"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-favourite">
            <li ng-if="loggedUser.favourites.length"><span class="fav-title">{{ 'index.favourite.title' | translate }}</span></li>
            <li ng-if="!loggedUser.favourites.length"><a>{{ 'index.favourite.empty' | translate }}</a></li>
            <li ng-repeat="favourite in loggedUser.favourites"><span class="item"><span class="item-left"><a ng-href="#!/store/items/{{favourite.item.id)}"><img ng-if="!favourite.item.images.length" ng-src="http://placehold.it/80x80"/><img ng-if="favourite.item.images.length" ng-src="data:image/png;base64,{{favourite.item.images[0].content}}"/></a><span class="item-info"><a href="#!/store/items/{{favourite.item.id}}"><span>{{favourite.item.name}}</span></a><span class="price">${{favourite.item.price.toFixed(2)}}</span></span></span><span title="{{ 'index.favourite.remove' | translate }}" class="item-right">
                  <button ng-click="index.removeFavourite(favourite.id)" class="btn btn-xs btn-danger pull-right remove-fav">x</button></span></span></li>
            <li ng-if="loggedUser.favourites.hasMore" class="separator"></li>
            <li ng-if="loggedUser.favourites.hasMore" class="text-center"><a ng-href="#!/profile/details?tab=favourites" ng-click="profile.switchToTab('favourites')">{{ 'index.favourite.viewAll' | translate }}</a></li>
          </ul>
        </li>
        <li ng-if="loggedUser"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>{{loggedUser.firstName}} {{loggedUser.lastName}}&nbsp;</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="#!/profile/details" ng-click="profile.switchToTab('account')"><i class="fa fa-user"></i><span>&nbsp;{{ 'index.user.profile' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=items" ng-click="profile.switchToTab('items')"><i class="fa fa-list"></i><span>&nbsp;{{ 'index.user.items' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=sales" ng-click="profile.switchToTab('sales')"><i class="fa fa-suitcase"></i><span>&nbsp;{{ 'index.user.sales' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=purchases" ng-click="profile.switchToTab('purchases')"><i class="fa fa-shopping-bag"></i><span>&nbsp;{{ 'index.user.purchases' | translate }}</span></a></li>
            <li class="separator"></li>
            <li><a ng-click="index.logout()"><i class="fa fa-sign-out"></i><span>&nbsp;{{ 'index.user.logout' | translate }}</span></a></li>
          </ul>
        </li>
      </ul>
      <form id="navbar-search" ng-submit="index.performQuery()" class="navbar-form">
        <div style="width:50%" class="form-group">
          <div class="input-group">
            <input id="navbar-query-input" type="text" placeholder="{{ 'index.search' | translate }}..." style="width:100%" name="query" ng-model="index.query" class="form-control"/><span style="width:1%" class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
          </div>
        </div>
      </form>
    </nav>
  </div>
</header>
<div id="edit-container" class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul id="myTab" class="nav nav-tabs tabs-left">
        <li class="static"><a href="#!/profile/details?tab=items" class="btn btn-primary"><span>{{ 'sell.edit.return' | translate }}</span></a></li>
        <li class="separator"></li>
        <li ng-class="{active: edit.selectedTab === &quot;details&quot;}"><a ng-click="edit.switchToTab('details')">{{ 'edit.details' | translate }}</a></li>
        <li ng-class="{active: edit.selectedTab === &quot;images&quot;}"><a ng-click="edit.switchToTab('images')">{{ 'edit.images' | translate }}</a></li>
      </ul>
    </div>
    <div style="padding: 0" class="col-sm-9">
      <div class="tab-content">
        <div ng-class="{active: edit.selectedTab === &quot;details&quot;}" id="details" class="tab-pane fade in">
          <div class="tab-content">
            <h1 class="page-header text-center">{{ 'edit.headline' | translate }} `{{edit.item.name}}`</h1>
            <div class="row">
              <div class="col-sm-11">
                <form name="editForm" ng-submit="edit.submit(editForm.$valid)" novalidate="novalidate" class="form-horizontal">
                  <div ng-class="{ 'has-error': editForm.name.$invalid &amp;&amp; !editForm.name.$pristine }" class="form-group">
                    <label for="name" class="col-sm-2 control-label">{{ 'sell.field.name' | translate }}</label>
                    <div class="col-sm-10">
                      <input id="name" type="text" name="name" placeholder="{{ 'sell.field.name' | translate }}" ng-model="edit.item.name" required="required" ng-minlength="4" ng-maxlength="100" class="form-control"/>
                      <p ng-show="editForm.name.$error.required" class="help-block">Name is required</p>
                      <p ng-show="editForm.name.$error.minlength" class="help-block">Name is too short</p>
                      <p ng-show="editForm.name.$error.maxlength" class="help-block">Name is too long</p>
                    </div>
                  </div>
                  <div ng-class="{ 'has-error': edit.description.$invalid &amp;&amp; !edit.description.$pristine }" class="form-group">
                    <label for="description" class="col-sm-2 control-label">{{ 'sell.field.description' | translate }}</label>
                    <div class="col-sm-10">
                      <textarea id="description" name="description" placeholder="{{ 'sell.field.description' | translate }}" ng-model="edit.item.description" rows="8" class="form-control">{{edit.item.description}}</textarea>
                    </div>
                  </div>
                  <div ng-class="{ 'has-error': editForm.price.$invalid &amp;&amp; !editForm.price.$pristine }" class="form-group">
                    <label for="price" class="col-sm-2 control-label">{{ 'sell.field.price' | translate }}</label>
                    <div class="col-sm-10">
                      <div class="input-group"><span class="input-group-addon">$</span>
                        <input type="number" id="price" name="price" placeholder="{{ 'sell.field.price' | translate }}" ng-min="0" ng-step="0.01" ng-model="edit.item.price" required="required" class="form-control"/>
                      </div>
                      <p ng-show="editForm.price.$error.required" class="help-block">Price is required</p>
                      <p ng-show="editForm.price.$error.min" class="help-block">Price can't be negative</p>
                      <p ng-show="editForm.price.$error.step" class="help-block">Price should have up to 2 decimal places</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">{{ 'sell.field.category' | translate }}</label>
                    <div class="col-sm-10">
                      <div id="category-browser">
                        <div>
                          <div ng-repeat="c in edit.categoryPath" class="category-card visible">
                            <ul class="list-unstyled">
                              <li ng-repeat="category in c" ng-class="{ active: _.includes(edit.highlighted, category.id) || edit.selectedCategory.id === category.id }"><a ng-click="edit.selectCategory(category, $parent.$index + 1)">{{category.name}}</a></li>
                            </ul>
                          </div>
                          <div id="success-card" ng-class="{visible: edit.selectedCategory }" class="category-card text-center"><span class="text-muted">{{ 'edit.details.categoryChosen' | translate }}</span><br/><span id="category-name" class="h4">{{edit.selectedCategory.name}}	</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-class="{ 'has-error': editForm.used.$invalid &amp;&amp; !editForm.used.$pristine }" class="form-group">
                    <label for="used" class="col-sm-2 control-label">{{ 'sell.field.status.title' | translate }}</label>
                    <div class="col-sm-10">
                      <label class="radio-inline">
                        <input id="used" type="radio" name="used" ng-value="true" ng-model="edit.item.used"/>{{ 'sell.field.status.used' | translate }}
                      </label>
                      <label class="radio-inline">
                        <input id="new" type="radio" name="used" ng-value="false" ng-model="edit.item.used"/>{{ 'sell.field.status.new' | translate }}
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-8">
                      <button type="submit" ng-disabled="!editForm.$valid" class="btn btn-success btn-block">{{ 'edit.action' | translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="{active: edit.selectedTab === &quot;images&quot;}" id="images" class="tab-pane fade in">
          <div class="tab-content">
            <h1 class="page-header text-center">{{ 'sell.image.upload.headline' | translate }} `{{edit.item.name}}`</h1>
            <div class="row">
              <div class="col-sm-11">
                <form method="POST" action="http://localhost:8081/webapp/images/upload/1" enctype="multipart/form-data" class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'sell.field.pictures' | translate }}</label>
                    <div class="col-sm-10">
                      <div id="dropzone">
                        <div class="dz-message">{{ 'sell.image.upload.drag' | translate }}</div>
                        <div class="fallback">
                          <input name="images" type="file" multiple="multiple"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-8">
                      <button id="uploadImages" type="submit" class="btn btn-success btn-block">{{ 'sell.okImages' | translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>