
<header id="top-navbar" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse" data-target="#main-navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#!/" style="font-size:2em" class="navbar-brand"><i class="fa fa-shopping-basket"></i>&nbsp;SIGLAS</a>
    </div>
    <nav id="navbar-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedUser"><a ng-href="#!/auth/register?next={{index.$location.path()}}">{{ 'index.register' | translate }}</a></li>
        <li ng-if="!loggedUser"><a ng-href="#!/auth/login?next={{index.$location.path()}}">{{ 'index.login' | translate }}</a></li>
        <li><a ng-href="{{loggedUser ? '#!/store/sell/details?next=' + index.$location.path() : '#!/auth/register?next=/store/sell/details'}}">{{ 'index.sell' | translate }}</a></li>
        <li id="favourite-dropdown" ng-if="loggedUser"><a href="#" data-toggle="dropdown" title="{{ 'index.favourite.title' | translate }}" class="dropdown-toggle"><i class="fa fa-heart"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-favourite">
            <li ng-if="loggedUser.favourites.length"><span class="fav-title">{{ 'index.favourite.title' | translate }}</span></li>
            <li ng-if="!loggedUser.favourites.length"><a>{{ 'index.favourite.empty' | translate }}</a></li>
            <li ng-repeat="favourite in loggedUser.favourites"><span class="item"><span class="item-left"><a ng-href="#!/store/items/{{favourite.item.id)}"><img ng-if="!favourite.item.images.length" ng-src="http://placehold.it/80x80"/><img ng-if="favourite.item.images.length" ng-src="data:image/png;base64,{{favourite.item.images[0].content}}"/></a><span class="item-info"><a href="#!/store/items/{{favourite.item.id}}"><span>{{favourite.item.name}}</span></a><span class="price">${{favourite.item.price.toFixed(2)}}</span></span></span><span title="{{ 'index.favourite.remove' | translate }}" class="item-right">
                  <button ng-click="index.removeFavourite(favourite.id)" class="btn btn-xs btn-danger pull-right remove-fav">x</button></span></span></li>
            <li ng-if="loggedUser.favourites.hasMore" class="separator"></li>
            <li ng-if="loggedUser.favourites.hasMore" class="text-center"><a ng-href="#!/profile/details?tab=favourites" ng-click="profile.switchToTab('favourites')">{{ 'index.favourite.viewAll' | translate }}</a></li>
          </ul>
        </li>
        <li ng-if="loggedUser"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>{{loggedUser.firstName}} {{loggedUser.lastName}}&nbsp;</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="#!/profile/details" ng-click="profile.switchToTab('account')"><i class="fa fa-user"></i><span>&nbsp;{{ 'index.user.profile' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=items" ng-click="profile.switchToTab('items')"><i class="fa fa-list"></i><span>&nbsp;{{ 'index.user.items' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=sales" ng-click="profile.switchToTab('sales')"><i class="fa fa-suitcase"></i><span>&nbsp;{{ 'index.user.sales' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=purchases" ng-click="profile.switchToTab('purchases')"><i class="fa fa-shopping-bag"></i><span>&nbsp;{{ 'index.user.purchases' | translate }}</span></a></li>
            <li class="separator"></li>
            <li><a ng-click="index.logout()"><i class="fa fa-sign-out"></i><span>&nbsp;{{ 'index.user.logout' | translate }}</span></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<noscript>
  <div style="position:absolute;top:0;height:100%;width:100%;z-index:1199;background-color:black;opacity:0.5"></div>
  <div style="position:absolute;width:600px;top: 20%;margin-left:auto;margin-right:auto;left:0;right:0;background-color:white;z-index:1200;padding:20px;text-align:justify">
    <p class="text-warning">{{ 'mg.javascript1' | translate }}</p>
    <p class="lead">{{ 'mg.javascript2' | translate }}</p>
  </div>
</noscript>
<section id="busqueda-simple" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="main-headline">{{ 'index.headline' | translate }}</h1>
            <form id="simple-search-form" ng-submit="index.performQuery()" class="col-sm-offset-3">
              <div class="form-group col-sm-8">
                <input id="simple-search-input" type="text" placeholder="{{ 'index.search' | translate }}..." name="query" ng-model="index.query" class="form-control input-lg"/>
              </div>
              <div class="form-group col-sm-2">
                <button id="quick-search" type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i>&nbsp; {{ 'index.search' | translate }} &nbsp;</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="promociones" class="row well">
      <div class="col-sm-12">
        <h4 style="font-size:32px">{{ 'index.promoted' | translate }}</h4>
        <div data-ride="carousel" id="promotion-carousel" class="carousel slide">
          <div id="carousel-content" class="carousel-inner">
            <div ng-class="{active: $index == 0}" ng-repeat="(key, items) in home.compartments" class="item">
              <div ng-repeat="item in items" class="col-sm-2"><a ng-href="#!/store/items/{{item.id}}">
                  <div class="promotion-image-container"><a ng-href="#!/store/items/{{item.id}}"><img ng-src="http://placehold.it/200?text=Sin+Imagen" style="width:100%;height:auto" ng-if="!item.images.length"/><img ng-src="data:image/png;base64,{{item.images[0].content}}" style="width:100%;height:auto" ng-if="item.images"/></a></div></a><a ng-href="#!/store/items/{{item.id}}"><b>{{item.name}}</b></a><br/><span>${{item.price.toFixed(2)}}</span></div>
            </div>
          </div><a href="#promotion-carousel" data-slide="prev" style="left:-30px" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">{{ 'item.carousel.previous' | translate }}</span></a><a href="#promotion-carousel" data-slide="next" style="right:-30px" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">{{ 'item.carousel.next' | translate }}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="busqueda-compleja" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="category-heading text-center">{{ 'index.categories' | translate }}</h2>
        <div class="row">
          <div ng-repeat="category in home.categories" class="col-sm-4 category-link-container"><a ng-href="#!/store/items/all?categories={{category.id}}" class="category-link">{{category.name}}</a></div>
        </div>
      </div>
    </div>
  </div>
</section>