
<header id="top-navbar" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse" data-target="#main-navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#!/" style="font-size:2em" class="navbar-brand"><i class="fa fa-shopping-basket"></i>&nbsp;SIGLAS</a>
    </div>
    <nav id="navbar-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedUser"><a ng-href="#!/auth/register?next={{index.$location.path()}}">{{ 'index.register' | translate }}</a></li>
        <li ng-if="!loggedUser"><a ng-href="#!/auth/login?next={{index.$location.path()}}">{{ 'index.login' | translate }}</a></li>
        <li><a ng-href="{{loggedUser ? '#!/store/sell/details' : '#!/auth/register?next=/store/sell/details'}}">{{ 'index.sell' | translate }}</a></li>
        <li id="favourite-dropdown" ng-if="loggedUser"><a href="#" data-toggle="dropdown" title="{{ 'index.favourite.title' | translate }}" class="dropdown-toggle"><i class="fa fa-heart"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-favourite">
            <li><a>{{ 'index.favourite.empty' | translate }}</a></li>
          </ul>
        </li>
        <li ng-if="loggedUser"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>{{loggedUser.firstName}} {{loggedUser.lastName}}&nbsp;</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="#!/profile/details" ng-click="profile.switchToTab('account')"><i class="fa fa-user"></i><span>&nbsp;{{ 'index.user.profile' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=items" ng-click="profile.switchToTab('items')"><i class="fa fa-list"></i><span>&nbsp;{{ 'index.user.items' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=sales" ng-click="profile.switchToTab('sales')"><i class="fa fa-suitcase"></i><span>&nbsp;{{ 'index.user.sales' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=purchases" ng-click="profile.switchToTab('purchases')"><i class="fa fa-shopping-bag"></i><span>&nbsp;{{ 'index.user.purchases' | translate }}</span></a></li>
            <li class="separator"></li>
            <li><a ng-click="index.logout()"><i class="fa fa-sign-out"></i><span>&nbsp;{{ 'index.user.logout' | translate }}</span></a></li>
          </ul>
        </li>
      </ul>
      <form id="navbar-search" action="http://localhost:8081/webapp/store/items/all" class="navbar-form">
        <div style="width:50%" class="form-group">
          <div class="input-group">
            <input id="navbar-query-input" type="text" placeholder="{{ 'index.search' | translate }}..." style="width:100%" name="query" value="" class="form-control"/><span style="width:1%" class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
          </div>
        </div>
      </form>
    </nav>
  </div>
</header>
<div id="profile-container" class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul id="myTab" class="nav nav-tabs tabs-left">
        <li ng-class="{active: profile.selectedTab === &quot;account&quot;}"><a ng-click="profile.switchToTab('account')">{{ 'profile.account.title' | translate }}</a></li>
        <li ng-class="{active: profile.selectedTab === &quot;password&quot;}"><a ng-click="profile.switchToTab('password')">{{ 'profile.password.title' | translate }}</a></li>
        <li ng-class="{active: profile.selectedTab === &quot;items&quot;}"><a ng-click="profile.switchToTab('items')">{{ 'profile.items.title' | translate }}</a></li>
        <li ng-class="{active: profile.selectedTab === &quot;sales&quot;}"><a ng-click="profile.switchToTab('sales')">{{ 'profile.sales.title' | translate }}</a></li>
        <li ng-class="{active: profile.selectedTab === &quot;purchases&quot;}"><a ng-click="profile.switchToTab('purchases')">{{ 'profile.purchases.title' | translate }}</a></li>
        <li ng-class="{active: profile.selectedTab === &quot;favourites&quot;}"><a ng-click="profile.switchToTab('favourites')">{{ 'profile.favourites.title' | translate }}</a></li>
      </ul>
    </div>
    <div style="padding: 0" class="col-sm-9">
      <div class="tab-content">
        <div ng-class="{active: profile.selectedTab === &quot;account&quot;}" id="account" class="tab-pane fade in">
          <div class="tab-pane-content">
            <div class="col-sm-12">
              <h1 class="page-header">{{ 'profile.account.title' | translate }}</h1>
              <form name="changeEmailForm" ng-submit="profile.changeEmail(changeEmailForm.$valid)" novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ 'profile.account.form.name' | translate }}</label>
                  <div class="col-sm-6">
                    <p class="form-control-static">{{loggedUser.firstName}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ 'profile.account.form.lastName' | translate }}</label>
                  <div class="col-sm-6">
                    <p class="form-control-static">{{loggedUser.lastName}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ 'profile.account.form.username' | translate }}</label>
                  <div class="col-sm-6">
                    <p class="form-control-static">{{loggedUser.username}}</p>
                  </div>
                </div>
                <div ng-class="{ 'has-error': changeEmailForm.email.$invalid &amp;&amp; !changeEmailForm.email.$pristine }" class="form-group">
                  <label for="email" class="col-sm-2 control-label">{{ 'profile.account.form.email' | translate }}</label>
                  <div class="col-sm-6">
                    <input id="email" type="email" placeholder="{{ 'profile.account.form.email' | translate }}" name="email" ng-model="profile.user.email" required="required" class="form-control"/>
                    <p ng-show="changeEmailForm.email.$error.required" class="help-block">Email is required</p>
                    <p ng-show="changeEmailForm.email.$invalid &amp;&amp; !changeEmailForm.email.$pristine" class="help-block">Enter a valid email</p>
                  </div>
                </div>
                <div style="margin-top:40px" class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button ng-disabled="!changeEmailForm.$valid" type="submit" class="btn btn-success btn-block">{{ 'profile.account.form.update' | translate }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div ng-class="{active: profile.selectedTab === &quot;password&quot;}" id="password" class="tab-pane fade in">
          <div class="tab-pane-content">
            <div class="col-sm-12">
              <h1 class="page-header">{{ 'profile.password.title' | translate }}</h1>
              <form name="changePasswordForm" ng-submit="profile.changePassword(changePasswordForm.$valid)" novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ 'profile.password.form.current' | translate }}</label>
                  <div class="col-sm-6">
                    <input type="password" placeholder="{{ 'profile.password.form.current' | translate }}" name="oldPassword" ng-model="profile.pass.oldPassword" class="form-control"/>
                  </div>
                </div>
                <div ng-class="{ 'has-error': changePasswordForm.oldPassword.$invalid &amp;&amp; !changePasswordForm.oldPassword.$pristine }" class="form-group">
                  <label class="col-sm-2 control-label">{{ 'profile.password.form.new' | translate }}</label>
                  <div class="col-sm-6">
                    <input id="password-field" type="password" placeholder="{{ 'profile.password.form.new' | translate }}" name="password" required="required" ng-minlength="4" ng-maxlength="100" ng-model="profile.pass.password" class="form-control"/>
                    <p ng-show="changePasswordForm.password.$error.required" class="help-block">Password is required</p>
                    <p ng-show="changePasswordForm.password.$error.minlength" class="help-block">Password is too short</p>
                    <p ng-show="changePasswordForm.password.$error.maxlength" class="help-block">Password is too long</p>
                  </div>
                </div>
                <div ng-class="{ 'has-error': changePasswordForm.repeatPassword.$invalid &amp;&amp; !changePasswordForm.repeatPassword.$pristine }" class="form-group">
                  <label class="col-sm-2 control-label">{{ 'profile.password.form.repeat' | translate }}</label>
                  <div class="col-sm-6">
                    <input type="password" placeholder="{{ 'profile.password.form.repeat' | translate }}" name="repeatPassword" pw-check="password-field" ng-model="profile.pass.repeatPassword" class="form-control"/>
                    <p ng-show="changePasswordForm.repeatPassword.$error.pwmatch" class="help-block">Password does not match</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button ng-disabled="!changePasswordForm.$valid" type="submit" class="btn btn-success btn-block">{{ 'profile.account.form.update' | translate }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div ng-class="{active: profile.selectedTab === &quot;items&quot;}" id="items" class="tab-pane fade in">
          <div class="tab-pane-content">
            <h1 class="page-header">{{ 'profile.items.title' | translate }}</h1>
            <ul id="itemsTab" class="nav nav-tabs">
              <li ng-class="{active: profile.itemsQuery.status === &quot;ANY&quot;}"><a ng-click="profile.updateItemsQuery({pageNumber: 0, status:'ANY'})">{{ 'profile.items.all' | translate }}</a></li>
              <li ng-class="{active: profile.itemsQuery.status === &quot;ACTIVE&quot;}"><a ng-click="profile.updateItemsQuery({pageNumber: 0, status:'ACTIVE'})">{{ 'profile.items.active' | translate }}</a></li>
              <li ng-class="{active: profile.itemsQuery.status === &quot;PAUSED&quot;}"><a ng-click="profile.updateItemsQuery({pageNumber: 0, status:'PAUSED'})">{{ 'profile.items.paused' | translate }}</a></li>
              <li ng-class="{active: profile.itemsQuery.status === &quot;UNPUBLISHED&quot;}"><a ng-click="profile.updateItemsQuery({pageNumber: 0, status:'UNPUBLISHED'})">{{ 'profile.items.drafts' | translate }}</a></li>
            </ul>
            <div class="tab-content">
              <div id="items-active" class="tab-pane fade in active">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th colspan="3">
                        <div class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.amount' | translate }}:&nbsp;</span><span class="modifier-content">{{profile.itemResult.numberOfAvailableResults != 0 ? profile.itemResult.currentPage * profile.itemResult.pageSize + 1 : 0}} - {{profile.itemResult.currentPage * profile.itemResult.pageSize + profile.itemResult.numberOfAvailableResults}}</span><span class="modifier-title">&nbsp;{{ 'search.filters.pagination.modifiers.of' | translate }}&nbsp;</span><b>{{profile.itemResult.numberOfTotalResults}}</b></div>
                        <div id="modifier-page-size" class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.showing' | translate }}&nbsp;</span><a ng-class="{selected: profile.itemResult.pageSize === 20}" ng-click="profile.updateItemsQuery({pageNumber: 0, pageSize: 20})" class="modifier-option"><b ng-show="profile.itemResult.pageSize === 20">20</b><span ng-show="profile.itemResult.pageSize !== 20">20</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.itemResult.pageSize === 40}" ng-click="profile.updateItemsQuery({pageNumber: 0, pageSize: 40})" class="modifier-option"><b ng-show="profile.itemResult.pageSize === 40">40</b><span ng-show="profile.itemResult.pageSize !== 40">40</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.itemResult.pageSize === 100}" ng-click="profile.updateItemsQuery({pageNumber: 0, pageSize: 100})" class="modifier-option"><b ng-show="profile.itemResult.pageSize === 100">100</b><span ng-show="profile.itemResult.pageSize !== 100">100</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.itemResult.pageSize === 200}" ng-click="profile.updateItemsQuery({pageNumber: 0, pageSize: 200})" class="modifier-option"><b ng-show="profile.itemResult.pageSize === 200">200</b><span ng-show="profile.itemResult.pageSize !== 200">200</span></a><span class="modifier-title">&nbsp; {{ 'search.filters.pagination.modifiers.perPage' | translate }}</span>
                        </div>
                        <div id="modifier-order" class="modifier"><span class="modifier-title">{{ 'search.filters.order.by' | translate }}:&nbsp;</span>
                          <select id="modifier-order-input" ng-model="profile.itemsOrder" ng-change="profile.onItemsOrderChange()" class="form-control input-xs">
                            <option value="PRICE-ASC">{{ 'search.filters.order.priceAsc' | translate }}</option>
                            <option value="PRICE-DESC">{{ 'search.filters.order.priceDesc' | translate }}</option>
                            <option value="NAME-ASC">{{ 'search.filters.order.alphabetic' | translate }}</option>
                            <option value="SOLD-ASC">{{ 'search.filters.order.soldAsc' | translate }}</option>
                            <option value="SOLD-DESC">{{ 'search.filters.order.soldDesc' | translate }}</option>
                          </select>
                        </div>
                      </th>
                      <th colspan="1">
                        <div style="width:100%" class="input-group input-group-sm"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input id="query-input" type="text" placeholder="{{ 'profile.items.table.search' | translate }}" ng-model="profile.itemsQuery.query" ng-change="profile.updateItemsQuery({})" class="form-control"/>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <th colspan="2">{{ 'profile.items.table.item' | translate }}</th>
                      <th>{{ 'profile.items.table.edit' | translate }}</th>
                      <th>{{ 'profile.items.table.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="profile.itemResult.numberOfTotalResults === 0" class="info">
                      <td colspan="4">
                        <div class="alert">{{ 'profile.sales.nothing' | translate }}</div>
                      </td>
                    </tr>
                    <tr ng-repeat="item in profile.itemResult.results">
                      <td style="width:40px"><a ng-href="#!/store/items/{{item.id}}"><img ng-if="!item.images.length" style="width:40px;height:40px" ng-src="http://placehold.it/40?text=Sin+Imagen" class="table-img"/><img ng-if="item.images.length" style="width:40px;height:40px" ng-src="data:image/png;base64,{{item.images[0].content}}" class="table-img"/></a></td>
                      <td><a href="#!/store/items/{{item.id}}">{{item.name}}</a><br/><span style="color:#900;font-weight:500">$ {{item.price.toFixed(2)}}</span><span ng-if="item.status !== 'UNPUBLISHED'"><span>&nbsp;- </span><span class="text-muted">{{item.sold}} {{ 'profile.items.table.sold' | translate }}</span></span></td>
                      <td class="center-vertical"><a ng-href="#!/store/item/{{item.id}}/details" title="{{ 'profile.items.table.edit' | translate }}"><i class="fa fa-pencil"></i><span>&nbsp;{{ 'profile.items.table.edit' | translate }}</span></a></td>
                      <td class="center-vertical">
                        <button ng-if="item.status === 'PAUSED'" ng-bootbox-confirm="Are you sure you want to resume this publication" ng-bootbox-confirm-action="profile.setPublicationStatus(item, 'ACTIVE')" class="btn btn-success btn-xs toggle-item-state"><i class="fa fa-play"></i><span>&nbsp;{{ 'profile.items.table.resume' | translate }}</span></button>
                        <button ng-if="item.status === 'UNPUBLISHED'" ng-bootbox-confirm="Are you sure you want to activate this publication" ng-bootbox-confirm-action="profile.setPublicationStatus(item, 'ACTIVE')" class="btn btn-success btn-xs publish">{{ 'profile.items.table.publish' | translate }}</button>
                        <button ng-if="item.status === 'ACTIVE'" ng-bootbox-confirm="Are you sure you want to pause this publication" ng-bootbox-confirm-action="profile.setPublicationStatus(item, 'PAUSED')" class="btn btn-default btn-xs toggle-item-state"><i class="fa fa-pause"></i><span>&nbsp;{{ 'profile.items.table.pause' | translate }}</span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ul id="filter-page" class="pager">
                  <li ng-class="{disabled: profile.itemResult.currentPage === 0}" class="previous"><a ng-click="profile.updateItemsQuery({ pageNumber: 0 })" class="filter-page-action"><span>&larr;</span><span>{{ 'search.filters.pagination.pagers.first' | translate }}</span></a></li>
                  <li ng-class="{disabled: profile.itemResult.currentPage === 0}" class="pre"><a ng-click="profile.updateItemsQuery({ pageNumber: profile.itemResult.currentPage - 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.previous' | translate }}</a></li>
                  <li ng-class="{disabled: profile.itemResult.currentPage === Math.floor(profile.itemResult.numberOfTotalResults / profile.itemResult.pageSize)}" class="ne"><a ng-click="profile.updateItemsQuery({ pageNumber: profile.itemResult.currentPage + 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.next' | translate }}</a></li>
                  <li ng-class="{disabled: profile.itemResult.currentPage === Math.floor(profile.itemResult.numberOfTotalResults / profile.itemResult.pageSize)}" class="next"><a ng-click="profile.updateItemsQuery({ pageNumber: Math.floor(profile.itemResult.numberOfTotalResults / profile.itemResult.pageSize) })" class="filter-page-action"><span>{{ 'search.filters.pagination.pagers.last' | translate }}</span><span>&rarr;</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="{active: profile.selectedTab === &quot;sales&quot;}" id="sales" class="tab-pane fade in">
          <div class="tab-pane-content">
            <h1 class="page-header">{{ 'profile.sales.title' | translate }}</h1>
            <ul id="itemsTab" class="nav nav-tabs">
              <li ng-class="{active: profile.salesQuery.status === &quot;PENDING&quot;}"><a ng-click="profile.updateSalesQuery({pageNumber: 0, status:'PENDING'})">{{ 'profile.sales.pending' | translate }}</a></li>
              <li ng-class="{active: profile.salesQuery.status === &quot;APPROVED&quot;}"><a ng-click="profile.updateSalesQuery({pageNumber: 0, status:'APPROVED'})">{{ 'profile.sales.approved' | translate }}</a></li>
              <li ng-class="{active: profile.salesQuery.status === &quot;DECLINED&quot;}"><a ng-click="profile.updateSalesQuery({pageNumber: 0, status:'DECLINED'})">{{ 'profile.sales.declined' | translate }}</a></li>
            </ul>
            <div class="tab-content">
              <div id="sales-active" class="tab-pane fade in active">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th colspan="5">
                        <div class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.amount' | translate }}:&nbsp;</span><span class="modifier-content">{{profile.salesResult.numberOfAvailableResults != 0 ? profile.salesResult.currentPage * profile.salesResult.pageSize + 1 : 0}} - {{profile.salesResult.currentPage * profile.salesResult.pageSize + profile.salesResult.numberOfAvailableResults}}</span><span class="modifier-title">&nbsp;{{ 'search.filters.pagination.modifiers.of' | translate }}&nbsp;</span><b>{{profile.salesResult.numberOfTotalResults}}</b></div>
                        <div id="modifier-page-size" class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.showing' | translate }}&nbsp;</span><a ng-class="{selected: profile.salesResult.pageSize === 20}" ng-click="profile.updateSalesQuery({pageNumber: 0, pageSize: 20})" class="modifier-option"><b ng-show="profile.salesResult.pageSize === 20">20</b><span ng-show="profile.salesResult.pageSize !== 20">20</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.salesResult.pageSize === 40}" ng-click="profile.updateSalesQuery({pageNumber: 0, pageSize: 40})" class="modifier-option"><b ng-show="profile.salesResult.pageSize === 40">40</b><span ng-show="profile.salesResult.pageSize !== 40">40</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.salesResult.pageSize === 100}" ng-click="profile.updateSalesQuery({pageNumber: 0, pageSize: 100})" class="modifier-option"><b ng-show="profile.salesResult.pageSize === 100">100</b><span ng-show="profile.salesResult.pageSize !== 100">100</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.salesResult.pageSize === 200}" ng-click="profile.updateSalesQuery({pageNumber: 0, pageSize: 200})" class="modifier-option"><b ng-show="profile.salesResult.pageSize === 200">200</b><span ng-show="profile.salesResult.pageSize !== 200">200</span></a><span class="modifier-title">&nbsp; {{ 'search.filters.pagination.modifiers.perPage' | translate }}</span>
                        </div>
                        <div id="modifier-order" class="modifier"><span class="modifier-title">{{ 'search.filters.order.by' | translate }}:&nbsp;</span>
                          <select id="modifier-order-input" ng-model="profile.salesOrder" ng-change="profile.onSalesOrderChange()" class="form-control input-xs">
                            <option value="PRICE-ASC">{{ 'search.filters.order.priceAsc' | translate }}</option>
                            <option value="PRICE-DESC">{{ 'search.filters.order.priceDesc' | translate }}</option>
                            <option value="CREATED-ASC">{{ 'search.filters.order.recentAsc' | translate }}</option>
                            <option value="CREATED-DESC">{{ 'search.filters.order.recentDesc' | translate }}</option>
                          </select>
                        </div>
                      </th>
                      <th colspan="1">
                        <div style="width:100%" class="input-group input-group-sm"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input id="query-input" type="text" placeholder="{{ 'profile.sales.table.search' | translate }}" ng-model="profile.salesQuery.query" ng-change="profile.updateSalesQuery({})" class="form-control"/>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <th>{{ 'profile.sales.table.date' | translate }}</th>
                      <th>{{ 'profile.sales.table.item' | translate }}</th>
                      <th> </th>
                      <th></th>
                      <th>{{ 'profile.sales.table.buyer' | translate }}</th>
                      <th><span ng-show="profile.salesQuery.status !== 'PENDING'">{{ 'profile.sales.table.score' | translate }}</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="profile.salesResult.numberOfTotalResults === 0" class="info">
                      <td colspan="{{profile.salesQuery.status === 'PENDING' ? 6 : 6}}">
                        <div class="alert">{{ 'profile.sales.nothing' | translate }}</div>
                      </td>
                    </tr>
                    <tr ng-repeat="transaction in profile.salesResult.results" class="p">
                      <td class="center-vertical">{{transaction.created | amDateFormat: 'L LT'}}</td>
                      <td style="width:40px"><img ng-if="!transaction.item.images.length" style="width:40px;height:40px" ng-src="http://placehold.it/40?text=Sin+Imagen" class="table-img"/><img ng-if="transaction.item.images.length" style="width:40px;height:40px" ng-src="data:image/png;base64,{{transaction.item.images[0].content}}" class="table-img"/></td>
                      <td><a ng-href="#!/store/items/{{transaction.item.id}}">{{transaction.item.name}}</a><br/><span style="color:#900">${{transaction.item.price}}</span></td>
                      <td class="center-vertical"><i ng-class="{&quot;text-success&quot;: profile.salesQuery.status === &quot;APPROVED&quot;, &quot;text-danger&quot;: profile.salesQuery.status === &quot;DECLINED&quot;}" class="fa fa-3x fa-long-arrow-right"></i></td>
                      <td><b><a href="#!/id/{{transaction.buyer.username}}/buyer">{{transaction.buyer.firstName}} {{transaction.buyer.lastName}}</a></b><br/><span class="text-muted">{{transaction.buyer.username}} ({{transaction.buyer.email}})</span></td>
                      <td ng-show="transaction.status === 'PENDING'" class="center-vertical">
                        <button ng-bootbox-confirm="Are you sure you want to approve this sale?" ng-bootbox-confirm-action="profile.approveSale(transaction)" ng-show="transaction.status !== 'DECLINED'" class="btn btn-success decide-transaction btn-xs"><i class="fa-2x glyphicon glyphicon-ok"></i><span ng-show="transaction.status === 'APPROVED'">&nbsp;{{ 'profile.sales.sell.approved' | translate }}</span></button>
                        <!-- #{messageSource.getMessage('profile.sales.success',[],locale)}-->&nbsp;
                        <button ng-bootbox-confirm="Are you sure you want to decline this sale?" ng-bootbox-confirm-action="profile.declineSale(transaction)" ng-show="transaction.status !== 'APPROVED'" class="btn btn-danger decide-transaction btn-xs"><i class="fa-2x glyphicon glyphicon-remove"></i><span ng-show="transaction.status === 'DECLINED'">&nbsp;{{ 'profile.sales.sell.rejected' | translate }}</span></button>
                        <!-- #{messageSource.getMessage('profile.sales.danger',[],locale)}-->
                      </td>
                      <td ng-show="transaction.status !== 'PENDING'" class="center-vertical">
                        <button ng-bootbox-title="{{ 'profile.modal.scores.title' | translate }}" ng-bootbox-custom-dialog="ng-bootbox-custom-dialog" ng-bootbox-custom-dialog-template="/views/ScoreCtrl.html" ng-click="profile.showScoresAsSeller(transaction)" class="btn btn-default btn-xs show-scores">{{ 'profile.sales.seeScores' | translate }}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ul id="filter-page" class="pager">
                  <li ng-class="{disabled: profile.salesResult.currentPage === 0}" class="previous"><a ng-click="profile.updateItemsQuery({ pageNumber: 0 })" class="filter-page-action"><span>&larr;</span><span>{{ 'search.filters.pagination.pagers.first' | translate }}</span></a></li>
                  <li ng-class="{disabled: profile.salesResult.currentPage === 0}" class="pre"><a ng-click="profile.updateItemsQuery({ pageNumber: profile.salesResult.currentPage - 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.previous' | translate }}</a></li>
                  <li ng-class="{disabled: profile.salesResult.currentPage === Math.floor(profile.salesResult.numberOfTotalResults / profile.salesResult.pageSize)}" class="ne"><a ng-click="profile.updateItemsQuery({ pageNumber: profile.salesResult.currentPage + 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.next' | translate }}</a></li>
                  <li ng-class="{disabled: profile.salesResult.currentPage === Math.floor(profile.salesResult.numberOfTotalResults / profile.salesResult.pageSize)}" class="next"><a ng-click="profile.updateItemsQuery({ pageNumber: Math.floor(profile.salesResult.numberOfTotalResults / profile.salesResult.pageSize) })" class="filter-page-action"><span>{{ 'search.filters.pagination.pagers.last' | translate }}</span><span>&rarr;</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="{active: profile.selectedTab === &quot;purchases&quot;}" id="purchases" class="tab-pane fade in">
          <div class="tab-pane-content">
            <h1 class="page-header">{{ 'profile.purchases.title' | translate }}</h1>
            <ul id="purchasesTab" class="nav nav-tabs">
              <li ng-class="{active: profile.purchasesQuery.status === &quot;PENDING&quot;}"><a ng-click="profile.updatePurchasesQuery({pageNumber: 0, status:'PENDING'})">{{ 'profile.purchases.pending' | translate }}</a></li>
              <li ng-class="{active: profile.purchasesQuery.status === &quot;APPROVED&quot;}"><a ng-click="profile.updatePurchasesQuery({pageNumber: 0, status:'APPROVED'})">{{ 'profile.purchases.approved' | translate }}</a></li>
              <li ng-class="{active: profile.purchasesQuery.status === &quot;DECLINED&quot;}"><a ng-click="profile.updatePurchasesQuery({pageNumber: 0, status:'DECLINED'})">{{ 'profile.purchases.declined' | translate }}</a></li>
            </ul>
            <div class="tab-content">
              <div id="purchases-active" class="tab-pane fade in active">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th colspan="{{profile.purchasesQuery.status === 'PENDING' ? 3 : 4 }}">
                        <div class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.amount' | translate }}:&nbsp;</span><span class="modifier-content">{{profile.purchasesResult.numberOfAvailableResults != 0 ? profile.purchasesResult.currentPage * profile.purchasesResult.pageSize + 1 : 0}} - {{profile.purchasesResult.currentPage * profile.purchasesResult.pageSize + profile.purchasesResult.numberOfAvailableResults}}</span><span class="modifier-title">&nbsp;{{ 'search.filters.pagination.modifiers.of' | translate }}&nbsp;</span><b>{{profile.purchasesResult.numberOfTotalResults}}</b></div>
                        <div id="modifier-page-size" class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.showing' | translate }}&nbsp;</span><a ng-class="{selected: profile.purchasesResult.pageSize === 20}" ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 20})" class="modifier-option"><b ng-show="profile.purchasesResult.pageSize === 20">20</b><span ng-show="profile.purchasesResult.pageSize !== 20">20</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.purchasesResult.pageSize === 40}" ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 40})" class="modifier-option"><b ng-show="profile.purchasesResult.pageSize === 40">40</b><span ng-show="profile.purchasesResult.pageSize !== 40">40</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.purchasesResult.pageSize === 100}" ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 100})" class="modifier-option"><b ng-show="profile.purchasesResult.pageSize === 100">100</b><span ng-show="profile.purchasesResult.pageSize !== 100">100</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.purchasesResult.pageSize === 200}" ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 200})" class="modifier-option"><b ng-show="profile.purchasesResult.pageSize === 200">200</b><span ng-show="profile.purchasesResult.pageSize !== 200">200</span></a><span class="modifier-title">&nbsp; {{ 'search.filters.pagination.modifiers.perPage' | translate }}</span>
                        </div>
                        <div id="modifier-order" class="modifier"><span class="modifier-title">{{ 'search.filters.order.by' | translate }}:&nbsp;</span>
                          <select id="modifier-order-input" ng-model="profile.purchasesOrder" ng-change="profile.onPurchasesOrderChange()" class="form-control input-xs">
                            <option value="PRICE-ASC">{{ 'search.filters.order.priceAsc' | translate }}</option>
                            <option value="PRICE-DESC">{{ 'search.filters.order.priceDesc' | translate }}</option>
                            <option value="CREATED-ASC">{{ 'search.filters.order.recentAsc' | translate }}</option>
                            <option value="CREATED-DESC">{{ 'search.filters.order.recentDesc' | translate }}</option>
                          </select>
                        </div>
                      </th>
                      <th colspan="1">
                        <div style="width:100%" class="input-group input-group-sm"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input id="query-input" type="text" placeholder="{{ 'profile.purchases.table.search' | translate }}" ng-model="profile.purchasesQuery.query" ng-change="profile.updatePurchasesQuery({})" class="form-control"/>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <th>{{ 'profile.purchases.table.date' | translate }}</th>
                      <th>{{ 'profile.purchases.table.seller' | translate }}</th>
                      <th colspan="2">{{ 'profile.purchases.table.item' | translate }}</th>
                      <th ng-if="profile.purchasesQuery.status !== 'PENDING'">{{ 'profile.purchases.table.score' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="profile.purchasesResult.numberOfTotalResults === 0" class="info">
                      <td colspan="{{profile.purchasesQuery.status === 'PENDING' ? 4 : 5 }}">
                        <div class="alert">{{ 'profile.sales.nothing' | translate }}</div>
                      </td>
                    </tr>
                    <tr ng-repeat="purchase in profile.purchasesResult.results">
                      <td class="center-vertical">{{purchase.created | amDateFormat: 'L LT' }}</td>
                      <td class="center-vertical"><span ng-show="purchase.status === 'APPROVED'"><b>{{purchase.item.owner.firstName}} {{purchase.item.owner.lastName}}</b><br/></span><span class="text-muted"><a href="#!/id/{{purchase.item.owner.username}}/seller">{{purchase.item.owner.username}}</a></span><span ng-show="purchase.status === 'APPROVED'">&nbsp;<a>({{purchase.item.owner.email}})</a></span>
                      </td>
                      <td style="width:40px"><img ng-if="!purchases.item.images.length" style="width:40px;height:40px" ng-src="http://placehold.it/40?text=Sin+Imagen" class="table-img"/><img ng-if="purchases.item.images.length" style="width:40px;height:40px" ng-src="data:image/png;base64,{{purchase.item.images[0].content}}" class="table-img"/></td>
                      <td><span>{{purchase.item.name}}</span><br/><span style="color:#900">$ {{purchase.item.price}}</span></td>
                      <td ng-if="!profile.purchasesQuery.status === 'PENDING'" class="center-vertical">
                        <button class="btn btn-default btn-xs show-scores">{{ 'profile.purchases.seeScores' | translate }}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ul id="filter-page" class="pager">
                  <li ng-class="{disabled: profile.purchasesResult.currentPage === 0}" class="previous"><a ng-click="profile.updateSalesQuery({ pageNumber: 0 })" class="filter-page-action"><span>&larr;</span><span>{{ 'search.filters.pagination.pagers.first' | translate }}</span></a></li>
                  <li ng-class="{disabled: profile.purchasesResult.currentPage === 0}" class="pre"><a ng-click="profile.updateSalesQuery({ pageNumber: profile.purchasesResult.currentPage - 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.previous' | translate }}</a></li>
                  <li ng-class="{disabled: profile.purchasesResult.currentPage === Math.floor(profile.purchasesResult.numberOfTotalResults / profile.purchasesResult.pageSize)}" class="ne"><a ng-click="profile.updateSalesQuery({ pageNumber: profile.purchasesResult.currentPage + 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.next' | translate }}</a></li>
                  <li ng-class="{disabled: profile.purchasesResult.currentPage === Math.floor(profile.purchasesResult.numberOfTotalResults / profile.purchasesResult.pageSize)}" class="next"><a ng-click="profile.updateSalesQuery({ pageNumber: Math.floor(profile.purchasesResult.numberOfTotalResults / profile.purchasesResult.pageSize) })" class="filter-page-action"><span>{{ 'search.filters.pagination.pagers.last' | translate }}</span><span>&rarr;</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="{active: profile.selectedTab === &quot;favourites&quot;}" id="favourites" class="tab-pane fade in">
          <div class="tab-pane-content">
            <h1 class="page-header">{{ 'profile.favourites.title' | translate }}</h1>
            <div class="tab-content">
              <div id="favourites" class="tab-pane fade in active">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th colspan="2">
                        <div class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.amount' | translate }}:&nbsp;</span><span class="modifier-content">{{profile.favouritesResult.numberOfAvailableResults != 0 ? profile.favouritesResult.currentPage * profile.favouritesResult.pageSize + 1 : 0}} - {{profile.favouritesResult.currentPage * profile.favouritesResult.pageSize + profile.favouritesResult.numberOfAvailableResults}}</span><span class="modifier-title">&nbsp;{{ 'search.filters.pagination.modifiers.of' | translate }}&nbsp;</span><b>{{profile.favouritesResult.numberOfTotalResults}}</b></div>
                        <div id="modifier-page-size" class="modifier"><span class="modifier-title">{{ 'search.filters.pagination.modifiers.showing' | translate }}&nbsp;</span><a ng-class="{selected: profile.favouritesResult.pageSize === 20}" ng-click="profile.updateFavouritesQuery({pageNumber: 0, pageSize: 20})" class="modifier-option"><b ng-show="profile.favouritesResult.pageSize === 20">20</b><span ng-show="profile.favouritesResult.pageSize !== 20">20</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.favouritesResult.pageSize === 40}" ng-click="profile.updateFavouritesQuery({pageNumber: 0, pageSize: 40})" class="modifier-option"><b ng-show="profile.favouritesResult.pageSize === 40">40</b><span ng-show="profile.favouritesResult.pageSize !== 40">40</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.favouritesResult.pageSize === 100}" ng-click="profile.updateFavouritesQuery({pageNumber: 0, pageSize: 100})" class="modifier-option"><b ng-show="profile.favouritesResult.pageSize === 100">100</b><span ng-show="profile.favouritesResult.pageSize !== 100">100</span></a>
                          <div class="space"></div><a ng-class="{selected: profile.favouritesResult.pageSize === 200}" ng-click="profile.updateFavouritesQuery({pageNumber: 0, pageSize: 200})" class="modifier-option"><b ng-show="profile.favouritesResult.pageSize === 200">200</b><span ng-show="profile.favouritesResult.pageSize !== 200">200</span></a><span class="modifier-title">&nbsp; {{ 'search.filters.pagination.modifiers.perPage' | translate }}</span>
                        </div>
                        <div id="modifier-order" class="modifier"><span class="modifier-title">{{ 'search.filters.order.by' | translate }}:&nbsp;</span>
                          <select id="modifier-order-input" ng-model="profile.favouritesOrder" ng-change="profile.onFavouritesOrderChange()" class="form-control input-xs">
                            <option value="PRICE-ASC">{{ 'search.filters.order.priceAsc' | translate }}</option>
                            <option value="PRICE-DESC">{{ 'search.filters.order.priceDesc' | translate }}</option>
                            <option value="NAME-ASC">{{ 'search.filters.order.alphabetic' | translate }}</option>
                            <option value="SOLD-ASC">{{ 'search.filters.order.soldAsc' | translate }}</option>
                            <option value="SOLD-DESC">{{ 'search.filters.order.soldDesc' | translate }}</option>
                          </select>
                        </div>
                      </th>
                      <th colspan="1">
                        <div style="width:100%" class="input-group input-group-sm"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input id="query-input" type="text" placeholder="{{ 'profile.favourites.table.search' | translate }}" ng-model="profile.salesQuery.query" ng-change="profile.updateSalesQuery({})" class="form-control"/>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <th colspan="2">{{ 'profile.favourites.table.item' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-if="!profile.favouritesResult.results.length" class="info">
                      <td colspan="3">
                        <div class="alert alert-info">{{ 'profile.sales.nothing' | translate }}</div>
                      </td>
                    </tr>
                    <tr ng-repeat="fav in profile.favouritesResult.results">
                      <td style="width:40px"><a href="#!/store/items/{{fav.item.id}}"><img ng-if="!fav.item.images.length" style="width:40px;height:40px" ng-src="http://placehold.it/40?text=Sin+Imagen" class="table-img"/><img ng-if="fav.item.images.length" style="width:40px;height:40px" ng-src="data:image/png;base64,{{fav.item.images[0].content}}" class="table-img"/></a></td>
                      <td><a href="/store/items/{{fav.item.id}}">{{fav.item.name}}</a><br/><span style="color:#900;font-weight:500">$ {{fav.item.price}}</span><span>&nbsp;- </span><span class="text-muted">{{fav.item.sold}} {{ 'profile.items.table.sold' | translate }}</span></td>
                      <th class="center-vertical">
                        <button class="btn btn-xs btn-danger remove-fav pull-right"><i class="fa fa-trash"></i><span>&nbsp;Eliminar</span></button>
                      </th>
                    </tr>
                  </tbody>
                </table>
                <ul id="filter-page" class="pager">
                  <li ng-class="{disabled: profile.favouritesResult.currentPage === 0}" class="previous"><a ng-click="profile.updateFavouritesQuery({ pageNumber: 0 })" class="filter-page-action"><span>&larr;</span><span>{{ 'search.filters.pagination.pagers.first' | translate }}</span></a></li>
                  <li ng-class="{disabled: profile.favouritesResult.currentPage === 0}" class="pre"><a ng-click="profile.updateFavouritesQuery({ pageNumber: profile.favouritesResult.currentPage - 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.previous' | translate }}</a></li>
                  <li ng-class="{disabled: profile.favouritesResult.currentPage === Math.floor(profile.favouritesResult.numberOfTotalResults / profile.favouritesResult.pageSize)}" class="ne"><a ng-click="profile.updateFavouritesQuery({ pageNumber: profile.favouritesResult.currentPage + 1 })" class="filter-page-action">{{ 'search.filters.pagination.pagers.next' | translate }}</a></li>
                  <li ng-class="{disabled: profile.favouritesResult.currentPage === Math.floor(profile.favouritesResult.numberOfTotalResults / profile.favouritesResult.pageSize)}" class="next"><a ng-click="profile.updateFavouritesQuery({ pageNumber: Math.floor(profile.favouritesResult.numberOfTotalResults / profile.favouritesResult.pageSize) })" class="filter-page-action"><span>{{ 'search.filters.pagination.pagers.last' | translate }}</span><span>&rarr;</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="review-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ 'profile.modal.scores.scoringTo' | translate }}&nbsp;<span class="what">{{ 'profile.modal.scores.lowerBuyer' | translate }}</span></h4>
      </div>
      <div class="modal-body">
        <form id="comment-form" role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="score" class="col-sm-2 control-label">{{ 'profile.modal.scores.score' | translate }}</label>
              <div class="col-sm-10">
                <input id="score-input" type="hidden" value="2.5" name="rating"/>
                <div id="score" style="font-size:1.5em" data-rate-value="2.5" class="rating"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">{{ 'item.comment' | translate }}</label>
            <div class="col-sm-10">
              <textarea id="content" name="comment" placeholder="{{ 'item.comment' | translate }}" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">{{ 'profile.modal.scores.close' | translate }}</button>
        <button id="rate-action" type="button" class="btn btn-primary">{{ 'profile.modal.scores.toScore' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<div id="review-modal-readonly" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ 'profile.modal.scores.title' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal i">
          <legend>{{ 'profile.modal.scores.scoresFrom' | translate }}&nbsp;<span class="what">{{ 'profile.modal.scores.seller' | translate }}</span></legend>
          <div class="form-group">
            <label for="score" class="col-sm-2 control-label">{{ 'profile.modal.scores.score' | translate }}</label>
            <div class="col-sm-10">
              <div style="font-size:1.5em" class="rating static r1"></div>
              <p class="help-block r1">{{ 'profile.modal.scores.stillNoScore' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">{{ 'item.comment' | translate }}</label>
            <div class="col-sm-10">
              <p class="form-control-static r1 l"></p>
            </div>
          </div>
        </form>
        <form role="form" class="form-horizontal j">
          <legend>{{ 'profile.modal.scores.yourScore' | translate }}</legend>
          <div class="form-group">
            <label for="score" class="col-sm-2 control-label">{{ 'profile.modal.scores.score' | translate }}</label>
            <div class="col-sm-10">
              <div style="font-size:1.5em" class="rating static r2"></div>
              <p class="help-block r2">{{ 'profile.modal.scores.stillNoScore' | translate }}&nbsp;
                <button class="btn-xs btn-default btn rate-button">{{ 'profile.modal.scores.toScore' | translate }}</button>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">{{ 'item.comment' | translate }}</label>
            <div class="col-sm-10">
              <p class="form-control-static r2 l"></p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">{{ 'profile.modal.scores.close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<script>
  var messages = {
  	sellConfirmation:   "{{ 'profile.sales.sell.confirmation' | translate }} ",
  	sellApprove:        "{{ 'profile.sales.sell.approve' | translate }}",
  	sellReject:         "{{ 'profile.sales.sell.reject' | translate }}",
  	sellPause:          "{{ 'profile.sales.sell.pause' | translate }}",
  	sellResume:         "{{ 'profile.sales.sell.resume' | translate }}",
  	sellConfirmation2:  " {{ 'profile.sales.sell.confirmation2' | translate }}",
  	sellSuccess:        "{{ 'profile.sales.sell.success' | translate }}",
  	sellError:          "{{ 'profile.sales.sell.error' | translate }}",
  	sellApproved:       "{{ 'profile.sales.sell.approved' | translate }}",
  	sellRejected:       "{{ 'profile.sales.sell.rejected' | translate }}",
  	sellResumeBtn:      "{{ 'profile.sales.sell.resumeBtn' | translate }}",
  	sellPauseBtn:       "{{ 'profile.sales.sell.pauseBtn' | translate }}",
  	sellPublishConfirm: "{{ 'profile.sales.sell.publishConfirmation' | translate }}",
  	sellPublished:      "{{ 'profile.sales.sell.published' | translate }}",
  	approving: 			"{{ 'profile.sales.sell.approving' | translate }}",
  	pausing: 			"{{ 'profile.sales.sell.pausing' | translate }}",
  	publishing: 		"{{ 'profile.sales.sell.publishing' | translate }}",
  	rejecting: 			"{{ 'profile.sales.sell.rejecting' | translate }}",
  	resuming: 			"{{ 'profile.sales.sell.resuming' | translate }}",
  	scoreBuyer: 		"{{ 'profile.modal.scores.buyer' | translate }}",
  	scoreSeller: 		"{{ 'profile.modal.scores.seller' | translate }}",
  	scorebuyer: 		"{{ 'profile.modal.scores.lowerBuyer' | translate }}",
  	scoreseller: 		"{{ 'profile.modal.scores.lowerSeller' | translate }}",
  	scoreScoreBuyer: 	"{{ 'profile.modal.scores.scoreBuyer' | translate }}",
  	scoreStillNoScore: 	"{{ 'profile.modal.scores.stillNoScore' | translate }}",
  	scoreVoidContent: 	"{{ 'profile.modal.scores.voidContent' | translate }}",
  	scoreError: 		"{{ 'profile.modal.scores.error' | translate }}",
  	scoreSuccess: 		"{{ 'profile.modal.scores.success' | translate }}"
  };
</script>
