
<header id="top-navbar" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse" data-target="#main-navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#!/" style="font-size:2em" class="navbar-brand"><i class="fa fa-shopping-basket"></i>&nbsp;SIGLAS</a>
    </div>
    <nav id="navbar-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedUser"><a ng-href="#!/auth/register?next={{index.$location.path()}}">{{ 'index.register' | translate }}</a></li>
        <li ng-if="!loggedUser"><a ng-href="#!/auth/login?next={{index.$location.path()}}">{{ 'index.login' | translate }}</a></li>
        <li><a ng-href="{{loggedUser ? '#!/store/sell/details' : '#!/auth/register?next=/store/sell/details'}}">{{ 'index.sell' | translate }}</a></li>
        <li id="favourite-dropdown" ng-if="loggedUser"><a href="#" data-toggle="dropdown" title="{{ 'index.favourite.title' | translate }}" class="dropdown-toggle"><i class="fa fa-heart"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-favourite">
            <li><a>{{ 'index.favourite.empty' | translate }}</a></li>
          </ul>
        </li>
        <li ng-if="loggedUser"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>{{loggedUser.firstName}} {{loggedUser.lastName}}&nbsp;</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="#!/profile/details" ng-click="profile.switchToTab('account')"><i class="fa fa-user"></i><span>&nbsp;{{ 'index.user.profile' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=items" ng-click="profile.switchToTab('items')"><i class="fa fa-list"></i><span>&nbsp;{{ 'index.user.items' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=sales" ng-click="profile.switchToTab('sales')"><i class="fa fa-suitcase"></i><span>&nbsp;{{ 'index.user.sales' | translate }}</span></a></li>
            <li><a ng-href="#!/profile/details?tab=purchases" ng-click="profile.switchToTab('purchases')"><i class="fa fa-shopping-bag"></i><span>&nbsp;{{ 'index.user.purchases' | translate }}</span></a></li>
            <li class="separator"></li>
            <li><a ng-click="index.logout()"><i class="fa fa-sign-out"></i><span>&nbsp;{{ 'index.user.logout' | translate }}</span></a></li>
          </ul>
        </li>
      </ul>
      <form id="navbar-search" action="http://localhost:8081/webapp/store/items/all" class="navbar-form">
        <div style="width:50%" class="form-group">
          <div class="input-group">
            <input id="navbar-query-input" type="text" placeholder="{{ 'index.search' | translate }}..." style="width:100%" name="query" value="" class="form-control"/><span style="width:1%" class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
          </div>
        </div>
      </form>
    </nav>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="register-box">
        <div ng-show="register.loading" class="load_circle_wrapper well-fake">
          <div class="loading_spinner">
            <div class="wrap_spinner">
              <div class="loading outer">
                <div class="loading inner"></div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="!register.loading" class="well">
          <form name="registerForm" ng-submit="register.submit(registerForm.$valid)" novalidate="novalidate" class="form-horizontal">
            <div ng-class="{ 'has-error': registerForm.firstName.$invalid &amp;&amp; !registerForm.firstName.$pristine }" class="form-group">
              <label for="firstName" class="control-label col-sm-3">{{ 'register.form.name' | translate }}</label>
              <div class="col-sm-9">
                <input id="firstName" type="text" placeholder="{{ 'register.form.name' | translate }}" name="firstName" ng-model="register.user.firstName" required="required" ng-minlength="2" ng-maxlength="100" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ ]+$/" class="form-control"/>
                <p ng-show="registerForm.firstName.$error.required" class="help-block">Name is required</p>
                <p ng-show="registerForm.firstName.$error.minlength" class="help-block">Name is too short</p>
                <p ng-show="registerForm.firstName.$error.maxlength" class="help-block">Name is too long</p>
                <p ng-show="registerForm.firstName.$error.pattern" class="help-block">Name should only contain letters</p>
              </div>
            </div>
            <div ng-class="{ 'has-error': registerForm.lastName.$invalid &amp;&amp; !registerForm.lastName.$pristine }" class="form-group">
              <label for="lastName" class="control-label col-sm-3">{{ 'register.form.surname' | translate }}</label>
              <div class="col-sm-9">
                <input id="lastName" type="text" placeholder="{{ 'register.form.surname' | translate }}" name="lastName" ng-model="register.user.lastName" required="required" ng-minlength="2" ng-maxlength="100" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ ]+$/" class="form-control"/>
                <p ng-show="registerForm.lastName.$error.required" class="help-block">Surname is required</p>
                <p ng-show="registerForm.lastName.$error.minlength" class="help-block">Surname is too short</p>
                <p ng-show="registerForm.lastName.$error.maxlength" class="help-block">Surname is too long</p>
                <p ng-show="registerForm.lastName.$error.pattern" class="help-block">Surname should only contain letters</p>
              </div>
            </div>
            <div ng-class="{ 'has-error': registerForm.email.$invalid &amp;&amp; !registerForm.email.$pristine }" class="form-group">
              <label for="email" class="control-label col-sm-3">{{ 'register.form.mail' | translate }}</label>
              <div class="col-sm-9">
                <input id="email" type="email" placeholder="{{ 'register.form.mail' | translate }}" name="email" ng-model="register.user.email" required="required" class="form-control"/>
                <p ng-show="registerForm.email.$error.required" class="help-block">Email is required</p>
                <p ng-show="registerForm.email.$invalid &amp;&amp; !registerForm.email.$pristine" class="help-block">Enter a valid email</p>
              </div>
            </div>
            <div ng-class="{ 'has-error': registerForm.username.$invalid &amp;&amp; !registerForm.username.$pristine }" class="form-group">
              <label for="username" class="control-label col-sm-3">{{ 'login.field.user' | translate }}</label>
              <div class="col-sm-9">
                <input id="username" type="text" placeholder="{{ 'login.field.user' | translate }}" name="username" required="required" ng-minlength="6" ng-maxlength="100" ng-pattern="/^[a-zA-Z0-9_-]+$/" ng-model="register.user.username" class="form-control"/>
                <p ng-show="registerForm.username.$error.required" class="help-block">Username is required</p>
                <p ng-show="registerForm.username.$error.minlength" class="help-block">Username is too short</p>
                <p ng-show="registerForm.username.$error.maxlength" class="help-block">Username is too long</p>
                <p ng-show="registerForm.username.$error.pattern" class="help-block">Username should only contain letters, numbers, '-' or '_'</p>
              </div>
            </div>
            <div ng-class="{ 'has-error': registerForm.password.$invalid &amp;&amp; !registerForm.password.$pristine }" class="form-group">
              <label for="password" class="control-label col-sm-3">{{ 'login.field.password' | translate }}</label>
              <div class="col-sm-9">
                <input id="password" type="password" placeholder="{{ 'login.field.password' | translate }}" name="password" required="required" ng-minlength="4" ng-maxlength="100" ng-model="register.user.password" class="form-control"/>
                <p ng-show="registerForm.password.$error.required" class="help-block">Password is required</p>
                <p ng-show="registerForm.password.$error.minlength" class="help-block">Password is too short</p>
                <p ng-show="registerForm.password.$error.maxlength" class="help-block">Password is too long</p>
              </div>
            </div>
            <div ng-class="{ 'has-error': registerForm.repeatPassword.$invalid &amp;&amp; !registerForm.repeatPassword.$pristine }" class="form-group">
              <label for="repeatPassword" class="control-label col-sm-3">{{ 'register.form.repeatPassword' | translate }}</label>
              <div class="col-sm-9">
                <input id="repeatPassword" type="password" placeholder="{{ 'register.form.repeatPassword' | translate }}" name="repeatPassword" pw-check="password" ng-model="register.user.repeatPassword" class="form-control"/>
                <p ng-show="registerForm.repeatPassword.$error.pwmatch" class="help-block">Password does not match</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button ng-disabled="!registerForm.$valid" type="submit" class="btn btn-success btn-block">{{ 'register.form.createAccount' | translate }}</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12"><span>{{ 'register.form.hasAccount' | translate }}&nbsp;</span><a href="#!/auth/login">{{ 'register.form.login' | translate }}</a><br/><span>{{ 'login.recover.question' | translate }}&nbsp;</span><a href="http://localhost:8081/webapp/auth/forgot-pass">{{ 'login.recover.recoverIt' | translate }}</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>