extends layouts/layout

block content
	+navbar(false)
	include partials/noscript
	section.section#busqueda-simple
		div.container
			include partials/busqueda-simple
	section.section#busqueda-compleja
		div.container
			include partials/categories