<html>
	<head>
		<style>
    body{background-color:#F5F5F5}
		#container {width:600px;margin:0 auto;background-color: white}
		a {
  color: #337ab7;
  text-decoration: none;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
		</style>
	</head>
	<body>
		<div id="container">
			<h3>Hola ${user.username},</h3>
      <p>Le ha llegado este correo porque solicitó cambiar su contraseña</p>
      <p>Prueba #springMessage("index.promoted")</p>
			<p>
				<a href="http://localhost:8081/webapp/reset-pass?token=${token}" class="btn btn-primary">Cambiar contraseña</a>
			</p>
      <p>Si no puede acceder, copie y pegue el siguiente link en su navegador <a href="http://localhost:8081/webapp/reset-pass?token=${token}">http://localhost:8081/webapp/reset-pass?token=${token}</a></p>
		</div>
	</body>

</html>