<html>
	<head>
		<style>
    	html,body{margin:0;padding:0}
		body{background-color:#F5F5F5}
    #container {width:600px;margin:0 auto;background-color: white;padding: 20px}
		a {
  color: #337ab7;
  text-decoration: none;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.price {
  color: #900
}
		</style>
	</head>
	<body>
		<div id="container">
			<h2>Hola ${user.firstName}, le informamos que se ha aprobado su compra de:</h2>
      <table style="margin-top:50px;margin-bottom:50px;">
        <tr>

          <td style="width:80px">
            #if (!$item.images.isEmpty())
              <img src="${url}/images/get/${item.images.iterator().next().id}" style="width:100%;height:auto"/>
            #end
          </td>
          <td>
            <b>${item.name}</b>
            <br/>
            <span class="price">$ ${item.price}</span>
          </td>
        </tr>
      </table>
			<p>
				Acceda a la informacion de la compra haciendo click aquí<br/>
        <a href="${url}/profile/purchases" class="btn btn-primary">Ver Compra</a>
			</p>
      <p>Si no puede acceder, copie y pegue el siguiente link en su navegador <a href="${url}/profile/purchases">${url}/profile/purchases</a></p>
		</div>
	</body>

</html>