<html>
	<head>
		<style>
    	html,body{margin:0;padding:0}
		body{background-color:#F5F5F5}
    #container {width:600px;margin:0 auto;background-color: white;padding: 20px}
		a {
  color: #337ab7;
  text-decoration: none;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.price {
  color: #900
}
h1, .h1 {
  font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
		</style>
	</head>
	<body>
		<div id="container">
			<h2>Hola ${user.firstName}, le han calificado sobre la venta de:</h2>
      <table style="margin-top:50px;margin-bottom:50px; width: 100%">
        <tr>

          <td style="width:80px">
            #if (!$item.images.isEmpty())
              <img src="${url}/images/get/${item.images.iterator().next().id}" style="width:100%;height:auto"/>
            #end
          </td>
          <td>
            <b>${item.name}</b>
            <br/>
            <span class="price">$ ${item.price}</span>
          </td>
        </tr>
      </table>
      <p>
        <table style="width: 100%">
          <thead>
            <tr>
              <th>Puntuación</th>
              <th>Comentario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center">
                <span class="h1">${review.rating}</span>
              </td>
              <td style="text-align: center">
                ${review.comment}
              </td>
            </tr>
          </tbody>
        </table>
      </p>
			<p>
				Acceda a la informacion de la venta haciendo click aquí<br/>
        <a href="${url}/profile/sales" class="btn btn-primary">Ver Venta</a>
			</p>
      <p>Si no puede acceder, copie y pegue el siguiente link en su navegador <a href="${url}/profile/sales">${url}/profile/sales</a></p>
		</div>
	</body>

</html>